[2014-07-30 21:01] #1541 closed, assigned to nobody

[2014-07-30 21:01] #1545 closed, assigned to jaypoulz

[2014-07-30 21:01] #1550 closed, assigned to nobody

[2014-07-30 21:01] #1581 closed, assigned to nobody

[2014-07-30 21:01] #1589 closed, assigned to nobody

[2014-07-30 21:01] #1597 closed, assigned to nobody

[2014-07-30 21:01] #1599 closed, assigned to nobody

[2014-07-30 21:01] #1604 closed, assigned to nobody

[2014-07-30 21:01] #1609 closed, assigned to nobody

[2014-07-30 21:01] #1613 closed, assigned to nobody

[2014-07-30 21:01] #1618 closed, assigned to bdonald25

[2014-07-30 21:01] #1629 closed, assigned to nobody

[2014-07-30 21:01] #1630 closed, assigned to nobody

[2014-07-30 21:01] #1637 closed, assigned to NatTuck

[2014-07-30 21:01] #1640 closed, assigned to JKinsman

[2014-07-30 21:01] #1642 closed, assigned to nobody

[2014-07-30 21:18] JKinsman opened #1667 "Bullet points in API description extend container"
**General description:**
The bullet points in the API description divs (on the developer page) overflow.

**live/dev/localhost:** dev/localhost
**iSENSE Version:** 5.4-120
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Mac OSX
**Browser/Version:** Firefox

**Steps to Reproduce:**
In Firefox,
1.  Go to an API tile on developers page
2.  Expand

**Associated Image(s):** None

[2014-07-30 21:22] JKinsman opened #1668 "Project description cloning needs to be reworked"
**General description:**
If a project with an image in its description is cloned, the newly-cloned project renders the same saved media object.  As a result, deleting the Media Object in the parent (cloned from) project causes the image to stop displaying in the child (newly-cloned) project, despite the fact that the media object is still there.

**live/dev/localhost:** dev/localhost
**iSENSE Vers

[2014-07-30 21:26] JKinsman opened #1669 "Change project title does not work in Internet Explorer"
**General description:**
On the project show page, Clicking the "edit title" icon next to the project's title and saving a new title will not actually change the Project Title.

**live/dev/localhost:** dev/localhost
**iSENSE Version:** 5.4-120
**Logged in (Y or N):** Y
**Admin (Y or N):** N/A

**OS:** Windows 8.1
**Browser/Version:** Internet Explorer 11

**Steps to Reproduce:**
In Internet Explor

[2014-07-30 22:20] JKinsman opened #1670 "Summernote image upload doesn't work in IE"
**General description:**
Manually uploading an image and adding a link to an image in Summernote causes the image not to render on Internet Explorer

**live/dev/localhost:** dev/localhost
**iSENSE Version:** 5.4-120
**Logged in (Y or N):** Y
**Admin (Y or N):** N/A

**OS:** Windows 8.1
**Browser/Version:** Internet Explorer 11

**Steps to Reproduce:**
In Internet Explorer,
1. Create a Project
2.

[2014-07-30 22:24] JKinsman opened #1671 "Color picker doesn't display properly when multiple data sets are visualized"
**General description:**
If four or more data sets are being visualized, the data sets container (Group By) on the right-hand side of the page does not scroll far enough to use the color picker for the data sets towards the bottom.  This issue was observed in Firefox, but I suspect it occurs in multiple browsers.

**live/dev/localhost:** dev/localhost
**iSENSE Version:** v5.4-120
**Logged in (Y or

[2014-07-30 22:28] JKinsman opened #1672 "Media object partial "delete" text should be red"
**General description:**
On the Media Object view (the shared partial, i.e., right-hand side of projects/show), the text to "Delete" a Media object should be red.

**live/dev/localhost:** dev/localhost
**iSENSE Version:** 5.4-120
**Logged in (Y or N):** Y
**Admin (Y or N)**: N/A

**OS:** N/A
**Browser/Version:** N/A

**Steps to Reproduce:**
1.  Create a project
2.  Add a media object
3.  Text isn'

[2014-07-31 21:23] #1493 closed, assigned to nobody

[2014-07-31 21:23] #1645 closed, assigned to asalani93

[2014-08-01 15:15] #1663 closed, assigned to nobody

[2014-08-01 15:19] #1671 closed, assigned to nobody

[2014-08-01 15:29] jdalphond opened #1678 "Add configurable floating point precision to visualizations"
**General description:**
This is more precisely what may need to happen for everyone to be happy about
#1559

Right now if there are lots of digits in the data, they are displayed. If someone would like to make the number of digits displayed configurable that is fine. But we will not be lopping off data without telling the user.

**live/dev/localhost:** N/a
**iSENSE Version:** N/a
**Logged in (Y o

[2014-08-01 15:29] #1559 closed, assigned to nobody

[2014-08-01 15:33] #1650 closed, assigned to nobody

[2014-08-01 15:34] #1644 closed, assigned to nobody

[2014-08-01 15:35] #1584 closed, assigned to nobody

[2014-08-01 15:37] #1586 closed, assigned to nobody

[2014-08-01 15:44] fgmart-zz opened #1680 "Adding slash to end of project URL causes links to data sets to fail"
**General description:**
Normally when you browse projects on iSENSE, the project page URL ends with a number (the project ID).

But if you add a slash to the end of that URL, you'll think everything's fine -- the project page looks good -- but the links you get by clicking on any data set will be broken.

**live/dev/localhost:** Live
**iSENSE Version:** v5.4
**Logged in (Y or N):** Y
**Admin (Y o

[2014-08-04 14:13] fgmart-zz opened #1686 "Put prompt text in search bar, and fix results when searching by ID"
**General description:**
We should elevate the idea of using project ID to find projects.

Having people type it into the URL bar isn't a good interface.

Let's put a small box next to the search bar in the project view for project ID.

**live/dev/localhost:** Live
**iSENSE Version:** v5.4+
**Logged in (Y or N):** N/a
**Admin (Y or N):** N/a

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reprod

[2014-08-04 22:06] jdalphond opened #1694 "Broken CSS on all visualization embed pages"
**General description:**
Since the CSS was removed, the embedded page for all visualizations (saved or not)
are broken.

This effects _/projects/xx/data_sets/YY?embed=true_
as well as  _/visualizations/xx?embed=true_

**live/dev/localhost:**  dev/localhost
**iSENSE Version:** v5.4+
**Logged in (Y or N):** N/a
**Admin (Y or N):** N/a

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
Go

[2014-08-05 15:59] fgmart-zz opened #1695 "Contributor keys are case-sensitive, but you can't create upper and lower case ones"
**General description:**
From the point of view of using an app, contributor keys are case-sensitive.  E.g., "mta" != "MTA".

I want to be able to create both keys, so users don't have to worry about case.

The web site won't let me do this.

This is broken. Either the web site should allow me to make multiple versions of a key that's the "same" (via case insensitive compare), or, keys should be c

[2014-08-05 18:10] asalani93 opened #1697 "Vis tools vanish upon page resize"
**General description:**
The vis controls shrink to a point where they can no longer be used after repeatedly resizing the screen.  Similar to #1644 except instead of going in and out of fullscreen, you just resize the page in some way (open and close the dev console, resize the window a couple of times, etc...).

**live/dev/localhost:** dev/localhost
**iSENSE Version:** 5.4-221
**Logged in (Y or

[2014-08-05 19:01] chrisgalster opened #1698 "Saving a vis inside fullscreen vis appears broken"
**General description:**
While saving a vis inside a fullscreen vis, the data that you are looking at goes blank, and there is no dialog to save the vis. When you exit the fullscreen mode, the dialog comes up and then you can save the vis.

This should probably do something else. Maybe saving the vis exits fullscreen?

**live/dev/localhost:** Live
**iSENSE Version:** v5.4
**Logged in (Y or N):** Y

[2014-08-05 19:24] fgmart-zz opened #1699 "Creating projects with fields that match with case-insensitive compare has bad results"
**General description:**
It's possible to create a project with a field named "Material" and another field named "material".

Then when you try to contribute data to the project, the data you enter for the latter field ends up in both fields.

**live/dev/localhost:** Live
**iSENSE Version:** v5.4
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Repr

[2014-08-05 23:20] AlanRosenthal opened #1700 "Login via api should only be done via HTTPS"
**General description:**
HTTP should be disabled for obvious security reasons

**live/dev/localhost:** N/a
**iSENSE Version:** N/a
**Logged in (Y or N):** N/a
**Admin (Y or N):** N/a

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
Login to the website.

**Associated Image(s):** None

[2014-08-06 04:14] jaypoulz opened #1701 "Map vis tries to pull down a Google map even when disabled"
**General description:**
I noticed this when I lost connection to my access point this evening, and tried to load a vis that had no associated GPS data. Fixing this would result in significantly page load increases for projects that don't have map vis enabled.

**live/dev/localhost:** Live
**iSENSE Version:** v5.4
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Firefox
**Browser/Version:*

[2014-08-06 15:08] #1548 closed, assigned to nobody

[2014-08-06 16:14] NatTuck opened #1703 "Seeds that break testing"
**General description:**
With randomized tests, some random seeds cause tests to fail.
@asalani93 is collecting such seeds for later testing.
First seed: 9914

**live/dev/localhost:** N/a
**iSENSE Version:** N/a
**Logged in (Y or N):** N/a
**Admin (Y or N):** N/a

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
1. Observe test failures in travis.ci.

**Associated Image(s):** None

[2014-08-06 17:00] NatTuck opened #1704 "Clicking (+) to add a description scrolls you away from the editor"
**General description:**
Clicking to add description scrolls you away from the editor. This is not ideal.

**live/dev/localhost:** dev
**iSENSE Version:** v5.4-230-g4f2a44b
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu
**Browser/Version:** Chrome

**Steps to Reproduce:**
1. Save a vis.
2. Click the (+) to add a description.
3. Note that you've been scrolled to the top of the page

[2014-08-06 17:13] NatTuck opened #1705 "Map icon is used for saved table vis"
**General description:**
This should be changed to a more relevant icon.

**live/dev/localhost:** dev
**iSENSE Version:** v5.4-230
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu
**Browser/Version:** Chrome

**Steps to Reproduce:**
1. Save a table vis.
2. It gets a map icon on the vis#index page
3. A table is clearly not a map.

**Associated Image(s):** None

[2014-08-06 18:31] #1672 closed, assigned to nobody

[2014-08-06 18:31] #1667 closed, assigned to nobody

[2014-08-06 18:32] #1602 closed, assigned to nobody

[2014-08-06 18:40] AlanRosenthal opened #1708 "Add placeholder text for timestamp field during manual entry"
**General description:**
The placeholder should be: yyyy/MM/dd hh:mm:ss

**live/dev/localhost:** Live
**iSENSE Version:** v5.4
**Logged in (Y or N):** N/a
**Admin (Y or N):** N/a

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
1. Go to any project with a timestamp field and hit manual entry.

**Associated Image(s):** None

[2014-08-06 18:46] JKinsman opened #1709 "Selection tool for datasets on projects#show is broken"
**General description:**
If a project has data sets, there is an option to select only data sets that match a specific criteria, i.e., your data sets, all, none, or data sets uploaded with a specific contributor key.  These controls are getting cut off, as shown below.

**live/dev/localhost:** Dev/localhost
**iSENSE Version:** v5.4
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Safar

[2014-08-06 19:56] NatTuck opened #1710 "HTML escaped on news#index"
**General description:**
The current news page is broken - the HTML is being displayed as text.

**live/dev/localhost:** Live
**iSENSE Version:** v5.5
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu
**Browser/Version:** Chrome

**Steps to Reproduce:**
1. vist http://isenseproject.org/news
2. HTML tags are shown rather than being HTMLed.
3. Instead, the text should be formatted corr

[2014-08-07 01:29] JKinsman opened #1712 "Media objects cannot be featured from the partial view on the projects show page"
**General description:**
None of a project's media objects can be selected as the project's "Featured" Media Object.  If the radio button is clicked, it immediately unselects itself.

**live/dev/localhost:** dev/localhost
**iSENSE Version:** v5.4
**Logged in (Y or N):** Y
**Admin (Y or N):** N N/A

**OS:**  N/A
**Browser/Version:** N/A

**Steps to Reproduce:**
1.  Go to a project that you own.
2.

[2014-08-07 06:48] jaypoulz opened #1713 "Best fit line tooltip disappears after hovering over a data point"
**General description:**
Jim noticed this a while back. Essentially the tooltips are bound when a regression is created, but unbound whenever a regular data point/line is hovered over.

**live/dev/localhost:** Live
**iSENSE Version:** v5.5
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu
**Browser/Version:** FFox/31

**Steps to Reproduce:**
1. Go to a scatter vis
2. Make a best fit

[2014-08-07 15:37] ivanrudnicki opened #1717 "Timestamp and location pickers in manual entry are no longer there?"
**General description:**
The location picker has always sucked, but it worked. In fact, we used it on Monday at the MTA workshop. Now, it's gone. The timestamp picker is also gone.

**live/dev/localhost:** Live
**iSENSE Version:** v5.5
**Logged in (Y or N):** Y (or contributor key access)
**Admin (Y or N):** N

**OS:** Mac
**Browser/Version:** Chrome 36.0.1985.125

**Steps to Reproduce:**
1. Find

[2014-08-11 16:33] #1708 closed, assigned to nobody

[2014-08-11 16:47] #1491 closed, assigned to nobody

[2014-08-11 19:40] AlanRosenthal opened #1725 "Remove extra white space under project name"
**General description:**
The new styling seems to adding an over-abundance of white space under a project name.

**live/dev/localhost:** live & dev
**iSENSE Version:** v5.5
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** ?
**Browser/Version:**  Chrome/36.0.1985.138

**Steps to Reproduce:**
1. See the images below details.

**Associated Image(s):**
_Project's page:_
eg: http://isenseprojec

[2014-08-11 19:52] AlanRosenthal opened #1727 "User#edit populates new email field with current email address"
**General description:**
If your logged in and go to your user#edit page, you current email address prepopulates the new email address field.

**live/dev/localhost:** live
**iSENSE Version:** v5.5
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
1. Log in as a user
2. Try to edit your user email

**Associated Image(s):**
http://isensepr

[2014-08-11 19:55] AlanRosenthal opened #1728 "User#edit shouldn't say "for user $USER""
**General description:**
The "for user $USER" text is redundant and not particularly informative.

**live/dev/localhost:** live
**iSENSE Version:** v5.5
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
1. Go to http://isenseproject.org/users/38/edit (logged in as user 38)
2. Witness "Change Password for Alan R" -> "Change Password"
3. W

[2014-08-13 16:43] AlanRosenthal opened #1734 "Add option in user's page for timezone setting"
**General description:**
User timezone setting would be awesome. Timestamp fields would be much easier for teachers to use.

**live/dev/localhost:** N/a
**iSENSE Version:** N/a
**Logged in (Y or N):** N/a
**Admin (Y or N):** N/a

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:** N/a

**Associated Image(s):** None

[2014-08-15 19:53] NatTuck opened #1741 "Closed pull requests to test"
Form for Maunal Testing #1738

[2014-08-25 14:15] fgmart-zz opened #1744 "find photos for new homepage that we have rights to"
Can people take a look here and see if there's anything we can use?

Freedigitalphotos.net

[2014-08-25 15:13] NatTuck opened #1745 "News index has basically nothing on it"
dev v5.5-121-g7d56fd2
live v5.5

![tutorials empty](https://cloud.githubusercontent.com/assets/1311959/4031777/433b7210-2c6a-11e4-8789-e39ecce9fa51.png)

[2014-08-25 16:37] bdonald25 opened #1746 "Field matching thinks Timestamp is a text field"
**General description:**
Uploaded template.csv from google drive and field matching thought that Timestamp was a text field.

**live/dev/localhost:** dev
**iSENSE Version:** v5.5-121-g7d56fd2
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Mac
**Browser/Version:** Chrome  37.0.2062.94

**Steps to Reproduce:** Upload template.csv for fields from testing folder on google drive

**Associated

[2014-08-25 16:41] bdonald25 opened #1747 "Edit button should not be in description box when there is no description"
**General description:** Description box has a big plus sign to add a description and an edit button. Edit button is not needed. It looks the same for a user bio.

**live/dev/localhost:** dev
**iSENSE Version:** v5.5-121-g7d56fd2
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Mac
**Browser/Version:** Chrome  37.0.2062.94

**Steps to Reproduce:** Create a new project.

**Associated Image(

[2014-08-25 16:44] bdonald25 opened #1748 "When adding a link to description can't change text that is displayed"
**General description:** When adding a link to a description you can not change the text that is displayed.

**live/dev/localhost:** dev
**iSENSE Version:** v5.5-121-g7d56fd2
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Mac
**Browser/Version:** Chrome  37.0.2062.94

**Steps to Reproduce:** Add a link to a description. Try entering something for text to be displayed.

**Associated Image

[2014-08-25 16:47] bdonald25 opened #1749 "Visualizations box on a project needs formating fixes"
**General description:** There is a "|" in front of delete and delete should be red.

**live/dev/localhost:** dev
**iSENSE Version:** v5.5-121-g7d56fd2
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Mac
**Browser/Version:** Chrome  37.0.2062.94

**Steps to Reproduce:**  Save a vis and go to the original project.

**Associated Image(s):**
![screen shot 2014-08-25 at 12 45 19 pm](https://c

[2014-08-25 16:51] bdonald25 opened #1750 "See all tutorial page has no margins and empty space"
**General description:** On see all tutorials page, tutorial boxes could use some margins. They also have a lot of empty space. Could have larger text.

**live/dev/localhost:** both
**iSENSE Version:** v5.5-121-g7d56fd2
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Mac
**Browser/Version:** Chrome  37.0.2062.94

**Steps to Reproduce:** Go to See All Tutorials page.

**Associated Image(s)

[2014-08-25 17:30] #1745 closed, assigned to nobody

[2014-08-25 17:45] #1247 closed, assigned to nobody

[2014-08-25 17:46] #1606 closed, assigned to nobody

[2014-08-25 17:46] #1628 closed, assigned to nobody

[2014-08-25 17:46] #1632 closed, assigned to nobody

[2014-08-25 17:47] #1636 closed, assigned to nobody

[2014-08-25 17:47] #1665 closed, assigned to NatTuck

[2014-08-25 17:47] #1680 closed, assigned to nobody

[2014-08-25 17:48] #1701 closed, assigned to nobody

[2014-08-25 17:49] #1705 closed, assigned to nobody

[2014-08-25 17:49] #1709 closed, assigned to nobody

[2014-08-25 17:49] #1710 closed, assigned to nobody

[2014-08-25 17:49] #1712 closed, assigned to nobody

[2014-08-25 17:50] #1725 closed, assigned to nobody

[2014-08-25 17:50] #1727 closed, assigned to nobody

[2014-08-25 17:50] #1728 closed, assigned to nobody

[2014-08-25 17:51] #1741 closed, assigned to nobody

[2014-08-26 17:48] asalani93 opened #1753 "Large spaces between buttons on projects#show when logged out"
**General description:**
There's only two buttons when you view a project while logged out, and there's a huge space between the two.

**live/dev/localhost:** live/dev/localhost
**iSENSE Version:** 5.6
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** Ubuntu 14.04
**Browser/Version:** Chrome 36 something

**Steps to Reproduce:**
* log out
* view a project
* observe spaces between buttons

*

[2014-08-26 23:18] AlanRosenthal opened #1754 "Bullet point on vis page"
live
eg: http://isenseproject.org/projects/650/data_sets/6459,6458,6457,6456,6455

[2014-08-27 17:21] bdonald25 opened #1755 "Field units are broken in API"
**General description:** Units are not displayed when a field is created though the API.

**live/dev/localhost:** dev
**iSENSE Version:** v5.6
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** n/a
**Browser/Version:** n/a

**Steps to Reproduce:** Add a field to a project through the api.

**Associated Image(s):**
![screen shot 2014-08-27 at 1 18 40 pm](https://cloud.githubusercontent.com/as

[2014-09-01 16:25] jaypoulz opened #1762 "Visualizations pop-over tips"
**General description:**
Bar defaults aren't always the most straightforward. For example, for the dataset a,b,c 1,2,3 one would expect something along the lines of http://rsense-dev.cs.uml.edu/visualizations/336. Instead once gets this http://rsense-dev.cs.uml.edu/projects/681/data_sets/5809. Ideally, bar should try to groupBy whatever label it has on the x-axis.

**UPDATE**: For bar vises with o

[2014-09-08 15:12] kcarcia opened #1764 "Edit and manual upload table"
**General description:** The current manual entry/edit table is bad.  Date/time/location currently do not have working pickers, and it slows down significantly when you load a large amount of data.

**live/dev/localhost:** live/dev/localhost
**iSENSE Version:** v5.6
**Logged in (Y or N):** Y/N
**Admin (Y or N):** Y/N
**OS:** All
**Browser/Version:** All
**Steps to Reproduce:** None
**Associated Im

[2014-09-08 15:12] #1127 closed, assigned to nobody

[2014-09-08 15:33] #1744 closed, assigned to nobody

[2014-09-08 15:37] #1492 closed, assigned to nobody

[2014-09-08 15:45] #1512 closed, assigned to nobody

[2014-09-08 15:50] #1192 closed, assigned to nobody

[2014-09-08 15:56] #1582 closed, assigned to nobody

[2014-09-08 16:14] #1583 closed, assigned to nobody

[2014-09-08 16:19] #1588 closed, assigned to nobody

[2014-09-08 16:25] #1594 closed, assigned to nobody

[2014-09-08 16:34] #1622 closed, assigned to nobody

[2014-09-08 16:56] #1666 closed, assigned to nobody

[2014-09-10 15:21] #1717 closed, assigned to nobody

[2014-09-10 16:12] kcarcia opened #1765 "Video Tutorials"
**General description:** We are going to be adding video tutorials to the website. @jdalphon already has these videos recorded. They need to be

(1) edited
(2) put on YouTube with proper information
(3) added to iSENSE

**live/dev/localhost:** N/A
**iSENSE Version:** N/A
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** N/A
**Browser/Version:** N/A

**Steps to Reproduce:** N/A

**Associ

[2014-09-11 17:02] jaypoulz opened #1769 "Histogram bin sizing issues"
**General description:**
Firstly, the manual bin size entry is broken. This needs to be fixed ASAP. Secondly, the automatic slide bar doesn't make any sense. Moving it to the right is supposed to increase the bin size, not the number of bins. In this respect, it is backwards.

**live/dev/localhost:** Live
**iSENSE Version:** 5.6
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04

[2014-09-12 17:16] kcarcia opened #1771 "Default image for saved table vises is distorted"
**General description:**
A Font Awesome icon is used as the default image for saved table vises. It is being distorted and blown up on the visualizations page.

**live/dev/localhost:** All
**iSENSE Version:** v5.6
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Ubuntu
**Browser/Version:** 37.0.2062.120

**Steps to Reproduce:**
Go to Visualizations page.

**Associated Image(s):**
![scr

[2014-09-12 17:28] kcarcia opened #1772 "Testing form UI fix"
**General description:**
The GitHub links on the testing form do not open in new tabs or windows. This would be super helpful and easy to implement.

**live/dev/localhost:** dev
**iSENSE Version:** N/A
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** N/A
**Browser/Version:** N/A

**Steps to Reproduce:**
1. Go to the testing form on dev.
2. Click the GitHub links, like issue numbers or

[2014-09-12 17:33] asalani93 opened #1773 "Deleting users doesn't"
**General description:**
Deleting a user doesn't really do as advertised.  It removes projects and saved vises as it should, but:
* you can still sign in using the garbage email address it changes your user to
* you can change your email to something else to effectively become undeleted
* you don't even need to know your deleted email to do the above if you're already signed in
* you can make proj

[2014-09-12 17:34] JKinsman opened #1774 "Manual testing form does not submit comments if you aren't logged into iSENSE"
**General description:**
If a user isn't signed into iSENSE when they click Submit on the Manual Testing Form, they will be redirected to the log in screen.  In that case, no comments will be posted to Github, and all of his or her notes will be deleted.

**live/dev/localhost:** All
**iSENSE Version:** v5.6
**Logged in (Y or N):** N
**Admin (Y or N):**  N

**OS:** Ubuntu
**Browser/Version:** 37.0.

[2014-09-12 17:47] bdonald25 opened #1775 "Media box on vis page should should not have featured image label"
**General description:** Media box on vis pages has label for featured image, but you can't feature an image for a vis

**live/dev/localhost:** all
**iSENSE Version:** v5.6-71-g5b637f6
**Logged in (Y or N):** n/a
**Admin (Y or N):** n/a

**OS:** Mac
**Browser/Version:** Chrome

**Steps to Reproduce:** Upload an image to a project then go to vis page.

**Associated Image(s):**

![screen shot 2014-0

[2014-09-12 18:16] #1477 closed, assigned to nobody

[2014-09-12 18:16] #1695 closed, assigned to nobody

[2014-09-12 18:16] #1697 closed, assigned to nobody

[2014-09-12 18:16] #1699 closed, assigned to nobody

[2014-09-12 18:16] #1704 closed, assigned to nobody

[2014-09-12 18:16] #1750 closed, assigned to nobody

[2014-09-12 18:16] #1754 closed, assigned to nobody

[2014-09-12 18:16] #1755 closed, assigned to nobody

[2014-09-12 20:59] jaypoulz opened #1776 "iSENSE Color Picker is broken and needs to test to prevent future breakage"
**General description:**
Tried to use the color picker to change the color of my bar chart, but the color picker wouldn't open. Is it not being drawn, or is the link broken?

**live/dev/localhost:** Live
**iSENSE Version:** v5.7
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04
**Browser/Version:** Firefox 32.0

**Steps to Reproduce:**
Try to use the color picker feature.

**As

[2014-09-15 18:00] NatTuck opened #1781 "Pie charts"
The issue describe in #1576 wasn't properly addressed and has now spiraled out of control.

[2014-09-16 13:07] #1781 closed, assigned to nobody

[2014-09-18 15:59] jaypoulz opened #1782 "Table vis needs several bug fixes"
**General description:**
Here are the things I currently find wrong with table:
1. Saved vises don't maintain sort/filtering.
2. Hiding the data point column is broken.
3. Sort configuration by ascending/descending glyph isn't visible.

**live/dev/localhost:** Live
**iSENSE Version:** v5.7
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04
**Browser/Version:** Firefox 33.0

**St

[2014-09-19 16:48] asalani93 opened #1784 "Visualization tool expansion button positioned incorrectly"
**General description:**
_This is specifically for visualizations, not visualizing data from a project._
The button for expanding and collapsing the vis tools don't positioned right.  It's sitting squarely on the edge of the container, instead of inside of it.

**live/dev/localhost:** live/dev/localhost
**iSENSE Version:** 5.7
**Logged in (Y or N):** Y/N
**Admin (Y or N):** Y/N

**OS:** Ubuntu 14.

[2014-09-22 16:59] kcarcia opened #1788 "Adding a news item without a title results in 404"
**General description:**
Exploding scientist explodes when you try creating a news item without a title. This is low priority since this is an admin feature.

**live/dev/localhost:** All
**iSENSE Version:** v5.7
**Logged in (Y or N):** Y
**Admin (Y or N):** Y

**OS:** Ubuntu
**Browser/Version:** Chrome 37.0.2062.120

**Steps to Reproduce:**
1. Login as an admin.
2. Go to the News page.
3. Click Ad

[2014-09-23 15:00] #1788 closed, assigned to nobody

[2014-09-23 15:01] JKinsman opened #1789 "Selecting a saved regression with a different group selection doesn't update the vis controls"
**General description:**
When a regression is created, it is then saved, and can be selected from the visualization controls.  If the current set of data points (selected groups) displayed on the chart differs from the ones used to compute the regression, the chart is redrawn, showing data points according to the selected groups originally used to generate the regression.  The visualization contro

[2014-09-24 16:25] #1776 closed, assigned to nobody

[2014-09-26 15:08] stowellm opened #1792 "Register for user name character limit is too short"
**General description:** User first and last name combined can only be 32 characters.  Especially in the case of international names, this limit is very.. limiting.

**live/dev/localhost:** dev
**iSENSE Version:** v5.7.73
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** OSX 10.9.4
**Browser/Version:** Firefox 32.0.3

**Steps to Reproduce:** Register for a user.  Type in a long name.  > 32

[2014-09-26 15:37] asalani93 opened #1793 "Map points can move independent of map"
**General description:** Turning on heatmaps and zooming out causes the map to not refresh, but the points still zoom in and out as well as translate

**live/dev/localhost:** dev
**iSENSE Version:** 5.7
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04.1 x64
**Browser/Version:** Chrome 3\d.\d+

**Steps to Reproduce:**
1. Visualize a dataset with latitude and longitude.  Mine wa

[2014-09-26 16:15] asalani93 opened #1794 "Deleting a user doesn't delete projects or saved vises"
**General description:** Deleting a user doesn't delete projects or saved vises.  You can't see the projects or vises from the index pages, but the URL still works and they're still in the user's page because #1773.  Also, it seems as if media objects are *sometimes* deleted.  For example, this project:
http://rsense-dev.cs.uml.edu/projects/838
had it's media object deleted, but there was another

[2014-09-26 17:29] asalani93 opened #1795 "No pane for tab for "Liked Projects""
**General description:** On the user page, the Liked Projects tab doesn't do anything.

**live/dev/localhost:** live/dev/localhost
**iSENSE Version:** 5.7-74
**Logged in (Y or N):** Y/N
**Admin (Y or N):** Y/N

**OS:** Ubuntu 14.04.1 x64
**Browser/Version:** Chrome 36

**Steps to Reproduce:**
1. Go to a user's page
2. Click on "Projects"
3. Click back to "Liked Projects"
4. Observe as nothing chan

[2014-09-26 17:55] #1295 closed, assigned to nobody

[2014-09-26 17:55] #1495 closed, assigned to nobody

[2014-09-26 17:55] #1558 closed, assigned to nobody

[2014-09-26 17:55] #1605 closed, assigned to nobody

[2014-09-26 17:55] #1678 closed, assigned to nobody

[2014-09-26 17:55] #1694 closed, assigned to nobody

[2014-09-26 17:55] #1746 closed, assigned to nobody

[2014-09-26 17:55] #1747 closed, assigned to nobody

[2014-09-26 17:55] #1769 closed, assigned to nobody

[2014-09-26 17:55] #1789 closed, assigned to JKinsman

[2014-09-30 16:50] fgmart-zz opened #1799 "Pie chart should have Analysis Type tools like bar chart"
**General description:**
Jake, would you please un-bury pie chart.
It's important that pie-chart has the same analysis tools as bar-chart.

**live/dev/localhost:** Live
**iSENSE Version:** N/a
**Logged in (Y or N):** N/a
**Admin (Y or N):** N/a

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
See these two screen snaps for what I mean.
You can view this particular data set at http://

[2014-10-08 14:42] jaypoulz opened #1804 "Table y-axis should have a check-all box"
**General description:**
Table y-axis should have a check-all box. Perhaps visible defaults should be the selected y fields and data point?

**live/dev/localhost:** Live
**iSENSE Version:** v5.7
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04
**Browser/Version:** Firefox 33.0

**Steps to Reproduce:**
Notice the lack of a check all for table y-axis.

**Associated Image(s):** N

[2014-10-08 14:50] jaypoulz opened #1805 "Grouping by a field with an empty name breaks styling"
**General description:**
Essentially, an empty space does not have the same has as text, so the formatting gets messy when you have an empty-named group next to named groups.

**live/dev/localhost:** Live
**iSENSE Version:** 5.7
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04
**Browser/Version:** Firefox 32.0.03

**Steps to Reproduce:**
1. Create a project with a text field y

[2014-10-10 16:52] stowellm opened #1812 "Saving a vis doesn't save its groupBy property (most of the time)"
**General description:** If you try saving a vis with a specific group-by property set, the saved vis will revert back to grouping by data point.  _However_, if you set a default vis, navigate away from the project (yes, you _must_ navigate off this page for this to work), then go back to the data set, group by some other field, then save a vis, it works.

**live/dev/localhost:** dev
**iSENSE Vers

[2014-10-10 16:53] stowellm opened #1813 "Admin should be able to set default vis for a project he/she does't own"
**General description:** Admins should be able to set a default vis for projects he/she doesn't own.

**live/dev/localhost:** dev
**iSENSE Version:** v5.8-79-gf864834
**Logged in (Y or N):** Y
**Admin (Y or N):** Y

**OS:** OSX 10.9.5
**Browser/Version:** Firefox 32.0.3

**Steps to Reproduce:** Described in the general description.

**Associated Image(s):**

[2014-10-10 17:23] asalani93 opened #1814 "Create project bar is too big on small screens"
**General description:**

The text field to create a project on the project index page overlaps the edge of the page on small (< 800px) screens.

**live/dev/localhost:** all
**iSENSE Version:** v5.8
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04.1 x64
**Browser/Version:** Chrome 36

**Steps to Reproduce:**

Go to project index page.

**Associated Image(s):**

[2014-10-10 18:43] #1784 closed, assigned to nobody

[2014-10-10 18:44] #1749 closed, assigned to nobody

[2014-10-10 18:44] #1686 closed, assigned to nobody

[2014-10-10 18:44] #1792 closed, assigned to nobody

[2014-10-10 19:02] bdonald25 opened #1815 "If username is too long it overflows horribly"
General description: If name is too long it overflows horribly

live/dev/localhost: dev
iSENSE Version: v5.8-79-gf864839
Logged in (Y or N): N
Admin (Y or N): N

OS: OSX
Browser/Version: Chrome/38.0.2125.101

Steps to Reproduce: Register for a user. Type in a long name.
![screen shot 2014-10-10 at 3 00 06 pm](https://cloud.githubusercontent.com/assets/4121924/4597618/dc2e6c5c-50af-11e4-9ee3-1bd8f8

[2014-10-10 20:18] jdaigneau opened #1816 "Pie Charts run out of colors with too many datasets"
**General description:** I was uploading data from my dice roll simulation and decided to view the data in the new pie chart vis. However, since there were over 30 datasets, the pie chart ran out of colors and the remaining pie chart groups were shown as white and were essentially not visible when the colors should have began to repeat.

**live/dev/localhost:** dev
**iSENSE Version:** v5.8-79
**Lo

[2014-10-14 17:29] JKinsman opened #1819 "Color picker is getting cut off"
**General description:** Only part of the Color Picker UI is visible when a color picker icon is clicked.

**live/dev/localhost:** localhost
**iSENSE Version**: v5.8-79-gf864839
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Ubuntu 14.04.1
**Browser/Version:** Chrome 38.0.2125.101

**Steps to Reproduce:** Use the Color Picker, you should see the color picket get cut off, as shown bel

[2014-10-17 14:31] stowellm opened #1822 "Pie Alphabetizes DataSet Alphabetically but Not Numerically"
**General description:** Starting at 90 degrees and working clockwise, data set names follow alphabet order.  However, numbers are treated as letters.  Therefore, data sets in a pie could be "alphabetized" as "data1, data10, data11, data12, ..., data19, data2, data20, data21, data22, ..., data29, data3, data30, ...".

**live/dev/localhost:** dev
**iSENSE Version:** 5.8-91
**Logged in (Y or N):** Y

[2014-10-17 15:08] tylerpuleo opened #1823 "IE 11 Can't Change Project Title"
**General description:**
Can't change project title of newly created project when using IE 11 on Windows 8.1

**live/dev/localhost:**
dev

**iSENSE Version:**
v5.8-91-ge3e1326

**Logged in (Y or N):**
Y

**Admin (Y or N):**
N

**OS:**
Windows 8.1

**Browser/Version:**
IE 11

**Steps to Reproduce:**
Make a new project. Try to change the name after it has been created

**Associated Image(s):**

[2014-10-17 15:50] kcarcia opened #1824 "Weird Title Sanitization Behavior"
**General description:** When you put a < in a title (project, saved vis, etc.), it appears as the HTML entity code (& l t ; - pardon the spaces) when you save it. Oddly enough, this isn't occurring for other characters such as & or >.

**live/dev/localhost:** dev
**iSENSE Version:** v5.8-91-ge3e1326
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** OS X 10.9.4
**Browser/Version:** Chrome v

[2014-10-17 17:11] #1532 closed, assigned to jaypoulz

[2014-10-17 17:11] #1670 closed, assigned to JKinsman

[2014-10-17 17:11] #1765 closed, assigned to nobody

[2014-10-17 17:11] #1782 closed, assigned to jaypoulz

[2014-10-17 17:11] #1812 closed, assigned to nobody

[2014-10-17 17:11] #1813 closed, assigned to nobody

[2014-10-17 17:11] #1816 closed, assigned to nobody

[2014-10-21 16:27] #1822 closed, assigned to nobody

[2014-10-23 13:15] fgmart opened #1828 "When editing project description, clicking on other parts of the page causes you to lose work"
**General description:**
Title pretty much says it. If you're editing the project description, and then you click somewhere else, e.g. Edit Fields, the site loses your edits.

**live/dev/localhost:** Live
**iSENSE Version:** N/a
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** All
**Browser/Version:** Any

**Steps to Reproduce:**
Click edit project description, then click edit fields.

**A

[2014-10-23 13:25] fgmart opened #1829 "Media block shows up on project vis page"
**General description:**
Why does the 'Media' block show up on project vis page? I don't understand why that's there.

**live/dev/localhost:** Live
**iSENSE Version:** N/a
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
Got a project's vis page.

**Associated Image(s):** N/a

[2014-10-23 16:14] jaypoulz opened #1830 "Full detail tooltips are broken"
**General description:**
Full detail is a checkbox that doesn't do anything. I'm guessing this is at naming thing, and that the jquery got broken by one of my (infinite) name changes.

**live/dev/localhost:** Live
**iSENSE Version:** 5.9
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04
**Browser/Version:** Firefox 33

**Steps to Reproduce:**
1. Goto Scatter.
2. Click advanced

[2014-11-03 00:05] stowellm opened #1834 "iSENSE vises should have a more meaningful tab title"
**General description:** Every visualization you view says the same up on your browser's tab bar: "iSENSE- Visualizations."  Especially in the case you have multiple visualizations open across tabs, it'd be nice if something like the data set name (or something like "Multiple data sets" if two or more data sets were chosen) was placed as this tab title instead.

**live/dev/localhost:** live
**iSEN

[2014-11-07 12:34] kcarcia opened #1839 "Project Creation Button Should Be Moved Below Project Seach"
**General description:** The project create button above the project search button is confusing users. Typically create is placed below search.

**live/dev/localhost:** All
**iSENSE Version:** v5.9
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Chrome 38.0.2125.111
**Browser/Version:** Ubuntu

**Steps to Reproduce:**
Go to the projects page.

**Associated Image(s):**
![screen shot 2014-1

[2014-11-07 18:54] #1568 closed, assigned to JKinsman

[2014-11-07 18:54] #1619 closed, assigned to nobody

[2014-11-07 18:54] #1748 closed, assigned to nobody

[2014-11-07 18:54] #1771 closed, assigned to nobody

[2014-11-07 18:54] #1799 closed, assigned to nobody

[2014-11-07 18:54] #1805 closed, assigned to nobody

[2014-11-07 18:54] #1814 closed, assigned to nobody

[2014-11-07 18:54] #1819 closed, assigned to nobody

[2014-11-07 18:54] #1830 closed, assigned to nobody

[2014-11-07 18:54] #1839 closed, assigned to kcarcia

[2014-12-02 14:01] jaypoulz opened #1843 "Annotations for visualizations"
**General description:**
One of the teachers at the workshop requested the ability to set questions on the screen for a visualization.

**live/dev/localhost:** Live
**iSENSE Version:** N/a
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:** N/a

**Associated Image(s):** None

[2014-12-02 14:05] jaypoulz opened #1844 "Regression lines bounded by data"
**General description:**
This was originally by design, but Jim noticed that it can be awkward.
Should be redone with regressions.

**live/dev/localhost:** Live
**iSENSE Version:** v5.10
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
1. Zoom in.
2. Make a best fit line.

**Associated Image(s):** None

[2014-12-02 14:09] jaypoulz opened #1845 "Vis with outlier gives better r-squared value"
**General description:**
A workshop teacher noticed this behavior. Not sure how to reproduce yet, but I'll look into it if I can recreate it.

**live/dev/localhost:** Live
**iSENSE Version:** v5.8
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
1. Make a best fit like for a set of points.
2. Add an outlier, and see if it makes it worse

[2014-12-02 14:15] jaypoulz opened #1846 "Office 365 support for uploading data"
**General description:**
One of the teachers wanted us to look into office 365 support for uploading data.

**live/dev/localhost:** N/a
**iSENSE Version:** N/a
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:** N/a

**Associated Image(s):** None

[2014-12-02 14:18] jaypoulz opened #1847 "Project creation button looks like a search bar"
**General description:**
Jim fixed this, but I don't think the changes are live yet.

**live/dev/localhost:** Live
**iSENSE Version:** v5.10
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
1. Log in
2. Go to projects page
3. Be confused

**Associated Image(s):** N/a

[2014-12-02 16:00] jaypoulz opened #1848 "Forumulaic fields"
**General description:**
One of the teachers at the workshop brought this up (again). I figured it deserved an issue. Essentially, teachers want ability to define a field/column as a formula (maybe using spreadsheet syntax).

**live/dev/localhost:** N/a
**iSENSE Version:** N/a
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
1. Hitting

[2014-12-02 16:04] jaypoulz opened #1849 "Settable min/max for axes"
**General description:**
Imagine as scatter plot with some y data from 1 to 10. By default x-axis range would be from -1 to 11 or something along these lines. Some teachers want the ability to set hard values for the min/max on the axes.

**live/dev/localhost:** Live
**iSENSE Version:** v5.10
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduc

[2014-12-02 16:10] jaypoulz opened #1850 "Best fit lines for individual series"
**General description:**
Apparently there is a weird rumor going on that best fit lines aren't being linked to individual series. @jaypoulz should look into this.

**live/dev/localhost:** Live
**iSENSE Version:** v5.10
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
1. Test best fit lines to see what kind of weird behavior is going on

[2014-12-02 16:14] jaypoulz opened #1851 "Slider selectors for table"
**General description:**
Some teachers suggested adding sliders for easer filtering in table. This might have some more value now that clipping has been introduced.

**live/dev/localhost:** N/a
**iSENSE Version:** N/a
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:** N/a

**Associated Image(s):** None

[2014-12-02 16:27] jaypoulz opened #1852 "Group by numerical fields"
**General description:**
A teacher thought it would be useful for bar charts if you could group by the y-fields themselves. This sometimes makes sense for numerical fields, and should be considered in a grouping overhaul.

**live/dev/localhost:** N/a
**iSENSE Version:** N/a
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:** N/a

**Associa

[2014-12-03 14:30] fgmart-zz opened #1853 "Median is being calculated wrong"
Look at this data set. iSENSE shows the median as 21. That is wrong.

http://isenseproject.org/projects/395/data_sets/7255

[2014-12-04 17:56] JKinsman opened #1856 "Uploading an SVG through the "Upload Media" button causes the page to freeze"
**General description:**
Uploading an SVG image to a project through the "Upload Media" button will make the page permanently unresponsive.

**live/dev/localhost:** all
**iSENSE Version:** v5.10
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** Chrome 38

**Steps to Reproduce:**
1. Log in
2.  Add an SVG image to a project
3.  You can never click on anything on that

[2014-12-08 13:35] kcarcia opened #1861 "User Submitted Issue"
**General description:** This is a test bug.

**live/dev/localhost:** live
**iSENSE Version:** v5.9-113-g18c845e
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

1

[2014-12-08 13:35] #1861 closed, assigned to nobody

[2014-12-08 13:57] kcarcia opened #1862 "User Submitted Issue"
**General description:** This is a test issue.

**live/dev/localhost:** live
**iSENSE Version:** v5.8-220-g875ca7e
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

5

[2014-12-08 13:58] kcarcia opened #1863 "User Submitted Issue"
**General description:** This a test issue from the anon account.

**live/dev/localhost:** live
**iSENSE Version:** v5.8-220-g875ca7e
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

5

[2014-12-08 13:58] #1863 closed, assigned to nobody

[2014-12-08 13:58] #1862 closed, assigned to nobody

[2014-12-08 13:59] kcarcia opened #1864 "User Submitted Issue"
**General description:** Test issue.

**live/dev/localhost:** live
**iSENSE Version:** v5.8-220-g875ca7e
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Firefox 28.0

**Steps to Reproduce:**

5

[2014-12-08 14:04] isenseanon opened #1865 "User Submitted Issue"
**General description:** Anon test.

**live/dev/localhost:** live
**iSENSE Version:** v5.8-220-g875ca7e
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

5

[2014-12-08 14:04] #1865 closed, assigned to nobody

[2014-12-08 15:46] #1864 closed, assigned to nobody

[2014-12-08 16:22] stowellm opened #1866 "Entering & Exiting FullScreen Breaks the Side Toolbar"
**General description:** Exiting from fullscreen mode *USING THE ESC KEY ON YOUR KEYBOARD* on a vis causes the toolbar on the side to push further to the right.

**live/dev/localhost:** dev
**iSENSE Version:** v5.8-220-g875ca7e
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Mac
**Browser/Version:** Chrome 39.0.2171.71 (64-bit)

**Steps to Reproduce:** Go to a vis.  Enter full-screen. Exi

[2014-12-08 16:23] kcarcia opened #1867 "Bug Reporting Bug Fixes for v2"
**General description:** The following issues should be addressed as part of v2 of Bug Reporting:
- [x] <strike>@cur_user should only be set once. (Said by Jim)</strike> Update: this is where it's set.
- [x]  Most of the Authenticator stuff should be in lib/github_authenticator.rb or similar, not directly in the controller. (Said by Jim)
- [x] Increase test coverage back to 90.
- [x] It should not

[2014-12-08 16:28] JKinsman opened #1868 "User Submitted Issue"
**General description:** Using iSENSE is like really hard

**live/dev/localhost:** live
**iSENSE Version:** v5.8-220-g875ca7e
**Logged in (Y or N):** Y
**Admin (Y or N):** Y

**OS:** X11
**Browser/Version:** Chrome 38.0.2125.101

**Steps to Reproduce:** Trying to use iSENSE on my sofa

403

[2014-12-08 16:30] isenseanon opened #1869 "User Submitted Issue"
**General description:** iSENSE is NP-Hard

**live/dev/localhost:** live
**iSENSE Version:** v5.8-220-g875ca7e
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** X11
**Browser/Version:** Chrome 38.0.2125.101

**Steps to Reproduce:** iSENSing

403

[2014-12-08 16:41] isenseanon opened #1870 "Can View HTML Files as Media Objects"
**General description:** Can view HTML files uploaded as media objects

**live/dev/localhost:** live
**iSENSE Version:** v5.8-220-g875ca7e
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** X11
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:** Uploading HTML files as media objects to projects to see if they break the page.

Uploaded HTML files can run scripts as well.

[2014-12-08 16:47] isenseanon opened #1872 "Can't Switch From Liked Projects Pane on User Profile"
**General description:** Liked projects pane on user profile can't be switched back to when you try to switch to it from another tab.

**live/dev/localhost:** live
**iSENSE Version:** v5.8-220-g875ca7e
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** X11
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:** Trying to switch back to the liked projects pane from another tab on th

[2014-12-08 16:48] #1869 closed, assigned to nobody

[2014-12-08 16:48] #1868 closed, assigned to nobody

[2014-12-08 16:56] kcarcia opened #1873 "Adding Images to Bug Reports"
**General description:** You should be able to add images to bug reports.

**live/dev/localhost:** live
**iSENSE Version:** v5.8-220-g875ca7e
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**
None.

[2014-12-08 16:59] stowellm opened #1874 "User Submitted Issue"
**General description:** its a problem

**live/dev/localhost:** live
**iSENSE Version:** v5.8-220-g875ca7e
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:** :dog:

404

[2014-12-08 17:01] asalani93 opened #1875 "Selecting or Deselecting Fields Removes Filters in Table Vis"
**General description:**
Selecting or Deselecting Fields Removes Filters in Table Vis

**live/dev/localhost:** dev
**iSENSE Version:** v5.8
**Logged in (Y or N):** Y/N
**Admin (Y or N):** Y/N

**OS:** Ubuntu 14.04.1 x64
**Browser/Version:** Chrome 39

**Steps to Reproduce:**
* vis a dataset in table
* make sure fields are selected
* apply a sort and/or search to the table
* select or deselect a fi

[2014-12-08 17:10] #1874 closed, assigned to nobody

[2014-12-08 17:18] kcarcia opened #1876 "Featured Images on Vis UI Fixes"
**General description:** The following should be added back now that we feature images on vises:
-  [x] The 'Featured' header would probably be useful now
-  [x] When you select an image, 'Selecting media objects' shows up at the bottom of the screen. This should be removed.

**live/dev/localhost:** live
**iSENSE Version:** v5.8-220-g875ca7e
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:**

[2014-12-08 17:57] isenseanon opened #1878 "User Submitted Issue"
**General description:** Test issue from live.

**live/dev/localhost:** live
**iSENSE Version:** v5.11
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

1

[2014-12-08 18:00] #1463 closed, assigned to kcarcia

[2014-12-08 18:00] #1524 closed, assigned to nobody

[2014-12-08 18:00] #1660 closed, assigned to nobody

[2014-12-08 18:00] #1775 closed, assigned to nobody

[2014-12-08 18:00] #1815 closed, assigned to nobody

[2014-12-08 18:00] #1847 closed, assigned to nobody

[2014-12-08 18:00] #1853 closed, assigned to nobody

[2014-12-08 18:00] #1856 closed, assigned to JKinsman

[2014-12-08 18:12] kcarcia opened #1880 "User Submitted Issue"
**General description:** Testing from live.

**live/dev/localhost:** live
**iSENSE Version:** v5.11-6-g5ce3891
**Logged in (Y or N):** N
**Admin (Y or N):** Y

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

1

[2014-12-08 18:12] #1880 closed, assigned to nobody

[2014-12-08 18:12] #1878 closed, assigned to nobody

[2014-12-08 18:13] isenseanon opened #1881 "User Submitted Issue"
**General description:** Testing from live. Anon!

**live/dev/localhost:** live
**iSENSE Version:** v5.11-6-g5ce3891
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

1

[2014-12-08 18:13] #1881 closed, assigned to nobody

[2014-12-08 18:16] kcarcia opened #1882 "User Submitted Issue"
**General description:** Testing from live.

**live/dev/localhost:** live
**iSENSE Version:** v5.11-6-g5ce3891
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

1

[2014-12-08 18:16] kcarcia opened #1883 "User Submitted Issue"
**General description:** TESTING FROM LIVE AGAIN!

**live/dev/localhost:** live
**iSENSE Version:** v5.11-6-g5ce3891
**Logged in (Y or N):** Y
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

1

[2014-12-08 18:16] isenseanon opened #1884 "User Submitted Issue"
**General description:** TESTING FROM LIVE ONE MORE TIME AS ANON

**live/dev/localhost:** live
**iSENSE Version:** v5.11-6-g5ce3891
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

1

[2014-12-08 18:17] #1882 closed, assigned to nobody

[2014-12-08 18:17] #1883 closed, assigned to nobody

[2014-12-08 18:17] #1884 closed, assigned to nobody

[2014-12-08 18:30] kcarcia opened #1885 "User Submitted Issue"
**General description:** Testing.

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

1

[2014-12-08 18:30] #1885 closed, assigned to nobody

[2014-12-10 04:13] #1872 closed, assigned to nobody

[2014-12-12 17:27] jdalphond opened #1888 "User Submitted Issue"
**General description:** test_from_local

**live/dev/localhost:** live
**iSENSE Version:** Development Version
**Logged in (Y or N):** Y
**Admin (Y or N):** Y

**OS:** X11
**Browser/Version:** Chrome 38.0.2125.104

**Steps to Reproduce:** test_from_local

2

[2014-12-12 17:30] #1888 closed, assigned to nobody

[2014-12-12 17:34] jdalphond opened #1889 "User Submitted Issue"
**General description:** last test

**live/dev/localhost:** live
**iSENSE Version:** Development Version
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** X11
**Browser/Version:** Chrome 38.0.2125.104

**Steps to Reproduce:** last test

2

[2014-12-12 17:35] #1889 closed, assigned to nobody

[2014-12-12 18:01] jaypoulz opened #1890 "Project with no title cannot be deleted"
**General description:** Projects with no title cannot be deleted.

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** X11
**Browser/Version:** Firefox 34.0

**Steps to Reproduce:**
1. Create a project titled `<script>alert(1);</script>`
2. Be amazed as the project is created, but your title is left blank.
3. Try to delete the project.
4

[2014-12-15 18:56] isenseanon opened #1893 "Linear best fit produces unhelpful errors"
**General description:** Project 805:  Trying to generate a line of best fit for Kristen Laferriere's data set, but get an error "cannot generate line of best fit for this data".  Using x = Normal Force, y = either frictional force.
Thanks,

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Windows
**Browser/Version:** Internet Explorer

[2014-12-15 18:58] isenseanon opened #1894 "User Submitted Issue"
**General description:** sorry - project 805 had problems generating LOBF

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Windows
**Browser/Version:** Internet Explorer 11.0

**Steps to Reproduce:**

338

[2014-12-15 19:34] #1894 closed, assigned to nobody

[2014-12-16 14:17] fgmart opened #1895 "Photo layout needs rework"
**General description:**
Why does the photo layout appear in a single column rather than a grid?

Also, what are the little windowshade bars above each photo?

**live/dev/localhost:** Live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** N/a
**Browser/Version:** N/a

**Steps to Reproduce:**
See attached, from Ivan's cross country bike ride project, http://isensepr

[2014-12-17 05:43] #1576 closed, assigned to nobody

[2014-12-19 16:45] fgmart opened #1896 "Error bars on bar chart"
**General description:**
It is commonly used in statistics to display error bars on summary bar charts.
E.g, you have a bar that collapses many values into a mean. You get a error bar with one std dev above and one below.

Or the error bar shows the 75th percentile (above mean) and 25th percentile below mean.

This would be a nice feature.

**live/dev/localhost:** N/a
**iSENSE Version:** N/a
**Log

[2014-12-19 16:54] fgmart opened #1897 "Histogram as a stacked bar of individual points"
**General description:**
For pedagogical reasons, histogram view should be enhanced so that each bar is represented as a stack of individual data items.

This will help people realize what the histogram actually means: for each bin, a count of data elements that fit into that bin.

I realize that some logic will be required to determine how/whether to draw the bar as individual elements; e.g., if

[2014-12-19 16:59] bdonald25 opened #1898 "Resizing columns can break the table"
**General description:** Re-sizing columns breaks table.

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** X11
**Browser/Version:** Chrome 39.0.2171.95

**Steps to Reproduce:** If you re-size the columns on a table, it causes the rest of the table to become misaligned.

![screenshot from 2014-12-19 12 03 51](https://cloud.githubusercon

[2015-01-05 16:15] tylerpuleo opened #1904 "API Posting Dataset"
**General description:** When posting datasets with the API the first field sets the size of the dataset so if the second field is longer it gets truncated.

**live/dev/localhost:** dev
**iSENSE Version:** v5.8-238-g084b967
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04
**Browser/Version:** Chrome 39.0.2171.95

**Steps to Reproduce:** Make a post request to a project where t

[2015-01-05 16:50] tylerpuleo commented on #1904
@bdonald25

[2015-01-06 16:37] jaypoulz commented on #1647
TESTERS:
Log in as admin and try creating a tutorial and and news article without a title.

[2015-01-08 20:23] jaypoulz commented on #1795
TESTERS:
Follow the steps to reproduce to verify that the liked projects tab is shown.

[2015-01-08 21:53] JKinsman commented on #1624
After investigating the issue today, It turns out that regression lines on visualizations with a logarithmic y-axis are being drawn correctly.  This is working as intended.  I had a conversation about this with @fgmart today, and he requested the regression controls be enabled on a visualization with a logarithmic y-axis.

[2015-01-08 21:54] #1624 closed

[2015-01-08 21:55] JKinsman commented on #1661
Great bug for @stowellm to get started on web :D

[2015-01-08 22:59] JKinsman opened #1909 "Exponential regressions are broken."
**General description:** Trying to create an exponential regression results in an alert box displaying an error message that the model was unable to create an exponential model for the data, even when the data is inherently exponential in nature.

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** X11
**Browser/Version:** Chrome 38.0.212

[2015-01-09 14:42] stowellm commented on #1661
Assigned to @jaypoulz because he's fixing up vis's and this will be changed in his next PR anyways :smile:

[2015-01-09 16:18] JKinsman commented on #1850
Not a bug, per discussion with @jaypoulz .  Turns out I fixed the underlying weird behavior with #1910

[2015-01-09 16:18] #1850 closed

[2015-01-09 16:31] JKinsman commented on #1845
@jaypoulz I was unable to reproduce this bug.

[2015-01-09 16:59] jaypoulz commented on #1893
TESTERS:
A good test for this bug would be to make a project for this particular data set, and see if linear regressions are still undefined.

[2015-01-12 13:54] stowellm opened #1912 "Admin can press a "Delete" button on a project with data sets with no feedback as to why it failed"
**General description:** An admin that owns a project with data sets can either navigate to the project's edit page or the admin's projects on the profile page and have the Delete button show up.  However, in both cases, the delete fails since the project contains data sets.  There is no feedback as to why clicking delete does nothing.

**live/dev/localhost:** dev
**iSENSE Version:** v5.8-238-g084

[2015-01-12 19:35] bdonald25 opened #1915 "Add a key to a project via api"
General description: An api function to add a key to a project.

live/dev/localhost: NA
iSENSE Version: v5.8-238-g084b967
Logged in (Y or N): NA
Admin (Y or N): NA

OS: NA
Browser/Version: NA

Steps to Reproduce: NA

[2015-01-13 21:22] jaypoulz commented on #1834
Testers:
Visit different pages and ensure that they have different titles.

[2015-01-15 14:00] stowellm opened #1919 "TypeError when trying to report a bug on localhost"
**General description:** I tried submitting a bug through the 'Report a Bug' feature on the website.  I selected the option that I do have a Github account, and I got this terrifying error page (see below).

**live/dev/localhost:** localhost
**iSENSE Version:** v5.12-83-g45977b5
**Logged in (Y or N):** Y
**Admin (Y or N):** either, but was admin at the time

**OS:** Ubuntu 14.04 LTS
**Browser/Vers

[2015-01-15 14:00] stowellm opened #1920 "Bad redirection when reporting a bug on dev"
**General description:** I tried submitting a bug through the 'Report a Bug' feature on the website.  I selected the option that I do have a Github account, and was redirected to the login page.  After logging in, I clicked that I did have a Github account.  I got brought back to the live website's login page.  Didn't continue further because this is already wrong.

**live/dev/localhost:** dev
**i

[2015-01-15 14:02] asalani93 commented on #1919
Reporting a bug from localhost shouldn't be possible - it requires
environment variables that you don't have.
 On Jan 15, 2015 9:00 AM, "Mike Stowell" <notifications@github.com> wrote:

[2015-01-15 14:05] stowellm opened #1921 "Slickgrid: Stuck on 'Saving...' when entering data for project"
**General description:** I was adding data via manual entry to a project.  First issue I noticed is I was able to delete my only row of data.  You need at least one row.  Curious as I now have no data, I hit `Save`.  I got a pop-up saying there was an error, and the button remained disabled, stating `Saving...`.  I can add real data now but can't save it.

**live/dev/localhost:** localhost
**iSENS

[2015-01-15 14:17] stowellm opened #1922 "Slickgrid: Saving Data Doesn't"
**General description:** Trying to use manual entry for data with Slickgrid.  Entered a single number, hit Save, and there was no data in my data set.  Went back, tried entering two numbers, and the last one doesn't save.  It seems any field that's currently being edited when `Save` is pressed doesn't save.  I believe in the old table, clicking save first resigns focus of anything being edited and

[2015-01-15 15:55] stowellm opened #1924 "Slickgrid: Entering data with latitude and longitude freezes save button with extra row"
**General description:** I've set up a project with a number, latitude, and longitude field.  To start, the latitude and longitude fields were combined into one entry column, which is fine.  But I have no indicator as to how I'm supposed to enter the data.  I took a guess (see screenshot), and when I hit `Save`, it froze.

**live/dev/localhost:** localhost
**iSENSE Version:** v5.12-84-g67f731b
**L

[2015-01-16 13:52] stowellm commented on #1912
### TESTERS:

Hi :)

[2015-01-16 18:20] jaypoulz commented on #1668
TESTERS:
Follow the steps to reproduce to verify that the behavoir is fixed.

[2015-01-16 18:32] jaypoulz commented on #1919
As noted by @asalani93, you cannot report a bug on local host. It doesn't even make much sense to, because a local host bug could be a manifestation of your current build and environment.

[2015-01-16 18:32] #1919 closed

[2015-01-21 01:12] bdonald25 opened #1927 ""Likes" overflow on the project page"
**General description:** "Likes" overflow on project page.

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Windows
**Browser/Version:** Chrome 39.0.2171.99

**Steps to Reproduce:** On the Projects page. Chrome is snapped to only fill half of my screen.

![20150120_200651](https://cloud.githubusercontent.com/assets/4121924/5829484/e11

[2015-01-21 17:29] kcarcia commented on #1301
@jdalphon @jaypoulz are we going to proceed with fixing the description now that we have Summernote?

[2015-01-21 17:30] kcarcia commented on #1465
Update: Homepage has been code reviewed. We are waiting on images to move forward. @fgmart any updates with the images for the homepage?

[2015-01-21 17:35] kcarcia commented on #1823
Closing this b/c it is a duplicate of #1669

[2015-01-21 17:35] #1823 closed

[2015-01-21 17:38] kcarcia commented on #1845
@jaypoulz @JKinsman This can probably be closed if it cannot be reproduced. Did you look into this, Jeremy?

[2015-01-21 17:39] kcarcia commented on #1846
Assigning myself to look into this, but marking it as lower priority.

[2015-01-21 17:45] kcarcia commented on #1920
@stowellm The only place bug reporting should work is on live. Bug reporting is a registered application on GitHub, and it is registered with live's URLs. We can create a separate application to be able to report bugs on dev, but we have agreed to keep the bug reporting only on live to minimize maintenance/work.

[2015-01-21 17:45] #1920 closed

[2015-01-21 18:00] jaypoulz commented on #1301
@kcarcia It can't be reproduced, but @JKinsman found the cause when he was analyzing the regression code. He upcoming regression patch should address this.

[2015-01-21 19:25] isenseanon opened #1930 "User Submitted Issue"
**General description:** This is a test.

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 39.0.2171.99

**Steps to Reproduce:** Test.

1

[2015-01-21 19:26] #1930 closed

[2015-01-21 22:34] isenseanon opened #1931 "User Submitted Issue"
**General description:** I'm trying to edit name of new project (#823) but it won't let me change it (blinks red)

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Windows
**Browser/Version:** Internet Explorer 11.0

**Steps to Reproduce:** edit project name/save changes

338

[2015-01-22 13:29] stowellm commented on #1931
Duplicate of #1669

[2015-01-22 16:50] jaypoulz commented on #1931
Closing as duplicate

[2015-01-22 16:50] #1931 closed

[2015-01-22 21:21] tylerpuleo opened #1932 "API Contributor Key Can't Be Used To Append"
General description: When using API to append there is a function on the API that says it can append to the API with a contributor key but the server log says that the request is unauthorized.

live/dev/localhost: dev
iSENSE Version: v5.8
Logged in (Y or N): Y
Admin (Y or N): N

OS: Ubuntu 14.04
Browser/Version: Chrome 37.0.2062.120

Steps to Reproduce: Make an append post request to the API using

[2015-01-22 23:40] JasonD94 commented on #1932
I had issues with this as well in C++. I was able to get appending to work with the email/password API but contributor keys always gave a  "Contribution key not valid" error (status 401).

[2015-01-22 23:52] fgmart commented on #1932
Please give fixing this high priority.

On Thu, Jan 22, 2015, 6:40 PM Jason <notifications@github.com> wrote:

[2015-01-23 00:23] kcarcia commented on #1932
@bdonald25 this is currently the highest priority bug assigned to you.

[2015-01-23 01:58] bdonald25 commented on #1932
The way it works now is it lets you append data to data sets that were uploaded with the same key.

Just to clarify we want to be able to append data to any data set in a project with a key instead of just the ones uploaded with that key?

[2015-01-23 02:03] fgmart commented on #1932
Oh. That behavior as you describe it @bdonald25 seems correct.

@JasonD94 @tylerpuleo -- would you please confirm this.

All -- is there documentation for this? There should be. Please point me at it?

[2015-01-23 02:07] bdonald25 commented on #1932
http://isenseproject.org/api/v1/docs
The documentation doesn't clarify this so I could make a note there.

[2015-01-23 02:14] fgmart commented on #1932
OK... that is super terse docs... how hard is it to add a bit of narrative
to this?  definitely add this bit. Thanks.

On Thu, Jan 22, 2015 at 9:07 PM, Bobby Donald <notifications@github.com>
wrote:

--

Work Ready Life Ready World Ready

Director, Engaging Computing Group <http://www.cs.uml.edu/ecg>
Associate Professor, Computer Science <http://blog.uml.edu/cs>
Director of Student Success, Colleg

[2015-01-23 02:18] JasonD94 commented on #1932
So if you upload with an email and password, and then try to append with a contributor key, it would not work?
If that's so, that could explain why I couldn't append with the key but it worked with email / password.

[2015-01-23 02:22] fgmart commented on #1932
So an API key will let you create a new data set -- which is then owned by the project owner.

That same key will let you append to that data set.

It seems correct to me that if the data set were created by uname/pwd, then the API key won't work on it.

@jdalphon this is exactly as intended, yes?

[2015-01-23 15:01] tylerpuleo commented on #1932
I apologize, I just realized that iSENSE saw the dataset that I was trying
to post to as being posted via username and password. I tried appending
using a dataset that iSENSE saw as a contributor key post and it worked.

However, I am almost certain that I posted the dataset that didn't work
with a contributor key and iSENSE processed it as email/password. I will
investigate this further and see w

[2015-01-23 17:25] kcarcia commented on #1829
@fgmart The current way to add photos to the photo viz is through this media box. If we every re-work photo vis, we can determine if there's a better to prompt users for photos.

[2015-01-23 17:25] #1829 closed

[2015-01-23 17:32] JasonD94 commented on #1932
I just tried appending to a dataset uploaded with a key and I'm still getting the same "key not valid" error.

Project I tried: http://rsense-dev.cs.uml.edu/projects/1029
(I just created a new project to test this one)
Contributor key is "123".

I tried sending a POST to: http://rsense-dev.cs.uml.edu/api/v1/data_sets/append
With the following JSON data:
{"contribution_key":"123","data":{"4566":[45

[2015-01-23 17:37] bdonald25 commented on #1932
Really? I was able to do it yesterday. I'll send you my code in a bit.

On Fri, Jan 23, 2015, 12:32 PM Jason <notifications@github.com> wrote:

[2015-01-23 18:05] JKinsman commented on #1876
PASSED testing on Safari 8.0.2 (Mac OSX 10.10).

[2015-01-23 18:05] JKinsman commented on #1893
PASSED testing on Safari 8.0.2 (Mac OSX 10.10).

[2015-01-23 18:05] JKinsman commented on #1898
FAILED testing on Safari 8.0.2 (Mac OSX 10.10).
Resizing columns forces the next column to become extremely small.  In the worst case, making the columns smaller and then larger can cause columns to become partially cut off.

[2015-01-23 18:05] JKinsman commented on #1912
PASSED testing on Safari 8.0.2 (Mac OSX 10.10).
I feel like this should be an alert at the top of the page, but there was in fact an error message on the page (under the delete button).

[2015-01-23 18:05] JKinsman commented on #1668
PASSED testing on Safari 8.0.2 (Mac OSX 10.10).

[2015-01-23 18:05] JKinsman commented on #1795
PASSED testing on Safari 8.0.2 (Mac OSX 10.10).

[2015-01-23 18:05] JKinsman commented on #1804
PASSED testing on Safari 8.0.2 (Mac OSX 10.10).
Table has a check-all box for group selection, but not for visible columns.  I feel like one should be added here too.

[2015-01-23 18:05] JKinsman commented on #1834
FAILED testing on Safari 8.0.2 (Mac OSX 10.10).
Viewing a data set shows "iSENSE - Data_sets", and a vis (regardless of the number of data sets, saved or unsaved) says "iSENSE - Visualizations."

[2015-01-23 18:05] JKinsman commented on #1866
FAILED testing on Safari 8.0.2 (Mac OSX 10.10).
Upon exitting full screen, the controls continue to overflow the div on the right-hand side.

[2015-01-23 18:05] JKinsman commented on #1875
PASSED testing on Safari 8.0.2 (Mac OSX 10.10).

[2015-01-23 18:05] JKinsman commented on #1647
FAILED testing on Safari 8.0.2 (Mac OSX 10.10).
Exploding Beaker Man! :(

[2015-01-23 18:22] bdonald25 commented on #1932
function post() {

    var apiUrl = 'http://rsense-dev.cs.uml.edu/api/v1/data_sets/append';
    var upload = {

        'contribution_key':'key',
        'id':'7753',
        'data':
        {
        	'4581' : [11, 22, 33],
            '4582': [11, 22, 33]
        }
    }
    $.post(apiUrl, upload);
    alert("Post Successful");
}

[2015-01-23 18:22] bdonald25 commented on #1932
You can see the data was appended here. http://rsense-dev.cs.uml.edu/projects/1033/data_sets/7753

[2015-01-23 18:23] bdonald25 commented on #1932
<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="postNotWorking.js"></script>
    </head>
    <body>
        <button onclick="post();">POST</button>
    </body>
</html>

Here is the html I used if you want to test it yourself.

[2015-01-23 18:26] JasonD94 commented on #1932
Thanks!

Is there a reason why you left out the title? On the API docs it lists that as required.

This is what the API docs gives as an example:
[code]

[2015-01-23 18:31] bdonald25 commented on #1932
I think someone put it there as a mistake. It doesn't make sense to have a title because the data set already exists. I was looking at the api and I didn't see the title being referenced anywhere. However, it should still work if you leave it in.

Maybe the intent was to allow people to change the title?

[2015-01-23 19:48] tylerpuleo commented on #1932
Ya I noticed that the title didn't do anything.

On Fri, Jan 23, 2015, 1:31 PM Bobby Donald <notifications@github.com> wrote:

[2015-01-23 20:08] fgmart commented on #1932
OK Tyler you're still verifying whether it may work if you don't include
title?

On Fri, Jan 23, 2015 at 2:48 PM, tylerpuleo <notifications@github.com>
wrote:

--

Work Ready Life Ready World Ready

Director, Engaging Computing Group <http://www.cs.uml.edu/ecg>
Associate Professor, Computer Science <http://blog.uml.edu/cs>
Director of Student Success, College of Sciences
<http://blog.uml.edu/scien

[2015-01-23 20:13] bdonald25 commented on #1932
I tried it with and without the title and it worked both ways for me.
Title appears to have been put into the api docs by mistake.

[2015-01-23 20:34] bdonald25 commented on #1932
I do think it is weird that a key can only append to a dataset uploaded with the same key, but a username and password can append anyone's dataset. Is this what we want?

[2015-01-23 20:34] jaypoulz commented on #1829
I love the idea of uploading photos via the photos vis. @stowellm Feel up to it?

[2015-01-23 20:38] jaypoulz commented on #1898
Bah I was hoping updating jqGrid was going to fix this for free. I'll look into this again post the vis layout rework.

[2015-01-23 22:29] tylerpuleo commented on #1932
I can confirm that it works fine when the title is included, but it doesn't
change anything.

I have not tried omitting the title.

-Tyler

On Fri, Jan 23, 2015, 3:34 PM Bobby Donald <notifications@github.com> wrote:

[2015-01-24 00:19] jaypoulz commented on #1932
Ownership of data sets uploaded with contributor keys are at a per-key basis. This means that you should only be able to append to a data set that your key uploaded.

Ownership of data sets uploaded via username and password are at a per-user basis, which can be much more complicated.
- [ ] You should be able to append to any dataset if you're an admin.
- [ ] You should be able to appended data se

[2015-01-24 19:23] kcarcia commented on #1867
TESTERS: Bug reporting on dev should work with and without a GitHub account.

[2015-01-26 15:17] isenseanon opened #1937 "User Submitted Issue"
**General description:** Test

**live/dev/localhost:** live
**iSENSE Version:** v5.8-238-g084b967
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.2214.91

**Steps to Reproduce:**

405

[2015-01-26 15:17] #1937 closed

[2015-01-26 15:27] kcarcia opened #1938 "Slickgrid: Formatting lat/long input"
**General description:** Ok, there is an indication when you enter in invalid lat, long how to enter a lat, long. BUT I would still change that column header to Latitude, Longitude so the user knows as he/she is entering in data.

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.2214.91

**Ste

[2015-01-26 15:39] isenseanon opened #1939 "User Submitted Issue"
**General description:** Test from dev. anon.

**live/dev/localhost:** live
**iSENSE Version:** v5.12-164-g4fcf819
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.2214.91

**Steps to Reproduce:**

405

[2015-01-26 15:39] #1939 closed

[2015-01-26 15:48] kcarcia opened #1940 "User Submitted Issue"
**General description:** Testing from dev.

**live/dev/localhost:** live
**iSENSE Version:** v5.12-164-g4fcf819
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Firefox 28.0

**Steps to Reproduce:**

5

[2015-01-26 15:48] #1940 closed

[2015-01-26 16:54] kcarcia commented on #1924
TESTERS: Follow those exact steps listed above to test.

[2015-01-26 16:54] kcarcia commented on #1922
TESTERS: Follow those exact steps listed about to test.

[2015-01-26 16:54] kcarcia commented on #1921
TESTERS: Follow those exact steps listed above to test.

[2015-01-26 16:55] kcarcia commented on #1890
TESTERS: Follow those exact steps listed above to test.

[2015-01-26 16:57] kcarcia commented on #1659
TESTERS: Tell us what you like and don't like. Are there typos? How does the page work responsively?

[2015-01-26 16:59] kcarcia opened #1941 "Debugging Statements Clean Up"
**General description:** A general console.log, logger, puts, print, etc. clean up would be nice. Just by doing a quick grep, I have identified several areas in need of clean up.

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 29.0.1547.57

**Steps to Reproduce:**

5

[2015-01-26 17:06] asalani93 opened #1942 "Datasets are clipped if there are too many"
**General description:** If you have too many datasets, they get cut off on the bottom when you visualize them.

**live/dev/localhost:** live/dev/localhost
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y/N
**Admin (Y or N):** Y/N

**OS:** Ubantu 14.05.2, Wondows 8.2
**Browser/Version:** Chrome 55

**Steps to Reproduce:**
* Go to http://isenseproject.org/projects/805/data_sets/7407,7403,7402,74

[2015-01-26 17:13] asalani93 opened #1944 "Table vises have broken links for default media objects"
**General description:** Saving a table vis creates a vis with a broken URL as its first media objects

**live/dev/localhost:** dev
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04.1
**Browser/Version:** Today

**Steps to Reproduce:**
* save a table vis
* the default media object is a broken image

**Associated Image(s):**

[2015-01-26 17:16] isenseanon opened #1945 "User Submitted Issue"
**General description:** test bug please delete

**live/dev/localhost:** live
**iSENSE Version:** v5.12-164-g4fcf819
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** X11
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

412

[2015-01-26 17:16] #1945 closed

[2015-01-26 17:16] asalani93 opened #1946 "User Submitted Issue"
**General description:** tes bug plz delete

**live/dev/localhost:** live
**iSENSE Version:** v5.12-164-g4fcf819
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** X11
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:**

412

[2015-01-26 17:16] #1946 closed

[2015-01-26 17:17] kcarcia commented on #1938
@asalani93 I just realized you fixed some aspect of this, so I changed my description. What do you think?

[2015-01-26 17:25] asalani93 commented on #1924
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).

[2015-01-26 17:25] asalani93 commented on #1890
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).

[2015-01-26 17:25] asalani93 commented on #1893
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).

[2015-01-26 17:25] asalani93 commented on #1912
FAILED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).
Now I get exploding beaker man.

[2015-01-26 17:25] asalani93 commented on #1921
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).

[2015-01-26 17:25] asalani93 commented on #1922
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).

[2015-01-26 17:25] asalani93 commented on #1834
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).

[2015-01-26 17:25] asalani93 commented on #1866
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).

[2015-01-26 17:25] asalani93 commented on #1867
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).

[2015-01-26 17:25] asalani93 commented on #1875
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).

[2015-01-26 17:25] asalani93 commented on #1876
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).

[2015-01-26 17:25] asalani93 commented on #1647
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).

[2015-01-26 17:25] asalani93 commented on #1659
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).
My linked in is wrong:
https://www.linkedin.com/in/asalani

[2015-01-26 17:25] asalani93 commented on #1795
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).

[2015-01-26 17:25] asalani93 commented on #1804
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1).
Check all box for groups is named "#Check All", check all box for y-axis is named "#Select All" - maybe fix?

[2015-01-26 17:32] asalani93 commented on #1890
projects still aren't deleted

[2015-01-26 17:36] kcarcia opened #1947 "User Submitted Issue"
**General description:** Testing GitHub.

**live/dev/localhost:** live
**iSENSE Version:** v5.12-164-g4fcf819
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 29.0.1547.57

**Steps to Reproduce:**

413

[2015-01-26 17:36] #1947 closed

[2015-01-26 17:37] isenseanon opened #1948 "User Submitted Issue"
**General description:** Testing not GitHub.

**live/dev/localhost:** live
**iSENSE Version:** v5.12-164-g4fcf819
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 29.0.1547.57

**Steps to Reproduce:**

413

[2015-01-26 17:37] #1948 closed

[2015-01-26 17:46] kcarcia commented on #1890
PASSED testing on Chrome 29.0.1547.57 (mac).

[2015-01-26 17:46] kcarcia commented on #1912
FAILED testing on Chrome 29.0.1547.57 (mac).
Path A: you get the exploding beaker man when you try to delete a project.
Path B: clicking delete is doing nothing at all.

[2015-01-26 17:46] kcarcia commented on #1921
PASSED testing on Chrome 29.0.1547.57 (mac).

[2015-01-26 17:46] kcarcia commented on #1922
PASSED testing on Chrome 29.0.1547.57 (mac).

[2015-01-26 17:46] kcarcia commented on #1924
PASSED testing on Chrome 29.0.1547.57 (mac).

[2015-01-26 17:46] kcarcia commented on #1659
FAILED testing on Chrome 29.0.1547.57 (mac).
General:
There are inconsistencies:
- Either all degrees should have a comma before the year of not. Mine is like "B.S. Computer Science 2015" while Jeremy's is like "M.S. Computer Science, 2016" Seems like most have the comma, so I'd stick with that.
- With the exception of Nat, I'd put all emails in the blahblahblah AT blahblahblah format.
- It might

[2015-01-26 17:46] kcarcia commented on #1867
PASSED testing on Chrome 29.0.1547.57 (mac).

[2015-01-26 17:47] kcarcia commented on #1912
@stowellm I'm removing this from testing.

[2015-01-26 18:07] bdonald25 commented on #1942
@asalani93 I am not able to reproduce this.

[2015-01-26 18:20] bdonald25 commented on #1932
@jaypoulz is going to add documentation that clearly explains who can append which data sets.

[2015-01-26 18:20] #1932 closed

[2015-01-26 19:51] tylerpuleo opened #1949 "Calendar Changing Month Incorrectly"
General description: Calendar picker changes months incorrectly.

live/dev/localhost: dev
iSENSE Version: v5.12
Logged in (Y or N): Y
Admin (Y or N): N

OS: Ubuntu 14.04.1
Browser/Version: Chrome 38.0.2125.111

Steps to Reproduce:

Click on gray day in calendar picker (as in a day that belongs to the previous month). Then click a black day in the current month. The calendar will move to the next m

[2015-01-26 19:57] jdaigneau opened #1950 "Logarithmic Y Axis option does not appear on toolbar"
General description: The Logarithmic Y Axis does not appear as an option for any of the visualizations.

**live/dev/localhost**: dev
**iSENSE Version**: v5.12
**Logged in (Y or N)**: Y
**Admin (Y or N)**: N

**OS**: OSX 10.9.4
**Browser/Version**: Chrome v40

**Steps to Reproduce**:

Create a new project.
Upload datasets.
Visualize all the datasets.
Logarithmic Y Axis is missing.

Project 1042

[2015-01-27 02:57] kcarcia commented on #1890
@asalani93 what do you mean by "projects still aren't deleted"? Did you mean to check FAILED on this one?

[2015-01-27 03:16] kcarcia commented on #1876
PASSED testing on Chrome 40.0.2214.91 (mac).

[2015-01-27 03:16] kcarcia commented on #1893
PASSED testing on Chrome 40.0.2214.91 (mac).

[2015-01-27 03:16] kcarcia commented on #1668
PASSED testing on Chrome 40.0.2214.91 (mac).

[2015-01-27 03:16] kcarcia commented on #1795
PASSED testing on Chrome 40.0.2214.91 (mac).

[2015-01-27 03:16] kcarcia commented on #1804
PASSED testing on Chrome 40.0.2214.91 (mac).

[2015-01-27 03:16] kcarcia commented on #1834
PASSED testing on Chrome 40.0.2214.91 (mac).

[2015-01-27 03:16] kcarcia commented on #1866
PASSED testing on Chrome 40.0.2214.91 (mac).

[2015-01-27 03:16] kcarcia commented on #1875
PASSED testing on Chrome 40.0.2214.91 (mac).

[2015-01-27 03:16] kcarcia commented on #1647
PASSED testing on Chrome 40.0.2214.91 (mac).

[2015-01-27 03:20] asalani93 commented on #1890
Sorry, didn't word that right.  Projects with no title are deleted.

You can still access a project by its ID - none of the projects seem to
actually be deleted, just hidden.  I'm not sure if that's in the scope of
Mike's PR or not.
On Jan 26, 2015 9:57 PM, "Kaitlyn Carcia" <notifications@github.com> wrote:

[2015-01-27 03:21] kcarcia commented on #1944
@asalani93 I also can't reproduce this. At some point can you show me this in person please?

[2015-01-27 03:22] asalani93 commented on #1944
Yes.
On Jan 26, 2015 10:21 PM, "Kaitlyn Carcia" <notifications@github.com> wrote:

[2015-01-27 03:23] kcarcia commented on #1944
Derp, wait I commented on the wrong issue. One sec....

[2015-01-27 03:23] kcarcia commented on #1942
@asalani93 I also can't reproduce this. At some point can you show me this in person please? There we go :)

[2015-01-27 03:24] kcarcia commented on #1944
@asalani93 I think all default images for tables are actually broken right now. Good catch.

[2015-01-27 03:25] kcarcia commented on #1950
@jaypoulz @jdaigneau I can't seem to reproduce this. Can someone else chime in on this?

[2015-01-27 03:25] asalani93 commented on #1942
No problem.
On Jan 26, 2015 10:23 PM, "Kaitlyn Carcia" <notifications@github.com> wrote:

[2015-01-27 03:26] kcarcia commented on #1949
@asalani93 Think you'll have time to address this before Friday's release?

[2015-01-27 03:27] kcarcia commented on #1938
@asalani93 I marked this as high priority because it's really ideal we have this for the release, but this should take you 2 minutes tops to fix. That ok?

[2015-01-27 03:29] kcarcia commented on #1890
@asalani93 Will look into this. Nice catch!

[2015-01-27 03:32] kcarcia opened #1951 "Improve Message on Liked Projects Pane w/ No Projects"
**General description:** When a user doesn't like a project, "No Contributions" appears in the Liked projects pane. It might be nice to improve this text by saying something like "No Liked Projects" since liking a project isn't a contribution.

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.

[2015-01-27 03:37] kcarcia opened #1952 "Google Doc Contribution Dialogue Box Needs Some UI Love"
**General description:** The dialogue box used to contribute data via a Google Doc needs some UI work. See the image below.

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.2214.91

**Steps to Reproduce:**
1. Go to a project.
2. Click Google Doc to contribute data.

**Associated Images:**
![s

[2015-01-27 03:41] kcarcia opened #1953 "Tools On All Vises Are... Off"
**General description:** Tools on all vises are being all crazy. :( The image explains it all. It doesn't seem to be happening with saved vises, though.

**live/dev/localhost:** live
**iSENSE Version:** v5.12
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.2214.91

**Steps to Reproduce:**
1. Go to a project with data.
2. Visualize that data.

**A

[2015-01-27 03:43] kcarcia commented on #1953
@jaypoulz is this just me? :( I hope it is. I marked it as high priority because this is a release stopper.

[2015-01-27 03:44] bdonald25 commented on #1953
We were looking at it earlier. It looks like it is just that project.

[2015-01-27 03:48] kcarcia commented on #1953
@bdonald25 Oh gosh... you're totally right. I didn't catch that. So weird. @jaypoulz should I close this?

[2015-01-27 03:48] jaypoulz commented on #1953
It's just that project. Something you did caused something to become undefined, and that's messing up the vis. What you are describe is the symptom, not the bug itself. I need steps to reproduce this otherwise I can't do anything.

[2015-01-27 03:48] jaypoulz commented on #1953
Up to you as to how we move forward on it. Clearly, a bug needs to be filed... but what is causing the problem :fearful:

[2015-01-27 03:50] jaypoulz commented on #1950
This is not technically a bug. I've added some notes to about Design Notes wiki page on the subject. The long and short of it is that we can't show a logarithmic Y axis unless the values are log safe. Still, I want to look into to the implementation of our log safe function before closing this.

[2015-01-27 03:51] kcarcia commented on #1953
@jaypoulz I'll see if I can reproduce it...
![01c519c3163a7815561da5f6b1e594c2](https://cloud.githubusercontent.com/assets/1798956/5913198/ca265abc-a5ad-11e4-83d7-a36c2f12022a.jpg)

[2015-01-27 03:56] kcarcia commented on #1915
TESTERS: Don't worry about this.

[2015-01-27 03:56] kcarcia commented on #1904
TESTERS: Don't worry about this.

[2015-01-27 19:41] fgmart commented on #1897
Hey all,

This is something I would like to put on the short list.

Is there a chance that @stowellm can work on this?

Thanks.

[2015-01-27 23:34] jaypoulz commented on #1897
@fgmart I think @JKinsman would be more comfortable making this type of change for now. Assuming we haven't already added too much to his queue. :smile: Otherwise, we might have to have @stowellm test his mettle against this patch.

[2015-01-27 23:38] JKinsman commented on #1897
@fgmart @jaypoulz I should have a chance to look into this.  Assuming the regression patch gets merged (once I make the styling change requested), I could do it once I refactor the homepage, which I should be able to finish tonight.

[2015-01-28 17:41] asalani93 commented on #1949
Just fixed this - I've made a pull request for it.  Should I just merge my own pull requests, or should somebody review them?

[2015-01-28 18:56] bdonald25 commented on #1942
@asalani93 I am not able to reproduce it on my local host after pulling from upstream. Maybe the issue has since been fixed?

[2015-01-29 01:31] kcarcia commented on #1764
TESTERS: Yay, Slickgrid! Do your best to break the manual entry form.

[2015-01-29 01:42] AlanRosenthal commented on #1764
http://rsense-dev.cs.uml.edu/projects/211
1) manual entry
2) click new row
3) for lat/long input "12,24"
4) save
5) go back to project
6) click edit
7) lat/long says ","

[2015-01-29 01:49] AlanRosenthal commented on #1764
if you leave the current time filled in, it says "1 Jan 2015 00:00:00.000 GMT" in the table

[2015-01-29 01:51] AlanRosenthal commented on #1764
if you leave lat/long blank and go back and edit the dataset it shows "," instead of nothing

[2015-01-29 02:27] asalani93 commented on #1764
I just fixed both of those, thanks for pointing them out.

[2015-01-29 02:32] asalani93 commented on #1942
Yep, apparently this was fixed in the last patch of PRs.  Nevermind then.

[2015-01-29 02:32] #1942 closed

[2015-01-29 02:51] AlanRosenthal commented on #1764
Title for /manualEntry and /edit is "Data_sets"

[2015-01-29 14:35] stowellm commented on #1659
Thanks for all the feedback, @kcarcia!  Definitely caught some things I missed.  All of the above should now be addressed and is in the pending PR, #1957.  I also got a chance to add Skittles to the contact page as well.

[2015-01-29 15:00] stowellm commented on #1912
@kcarcia :
Path A: that's strange... I'll look into it.
Path B: cannot reproduce.  I can delete a project with no data sets from the admin's user page.  Could you show me how you got this to break?  Even so, I've definitely noticed that before my patch - sometimes clicking delete didn't remove the project from the profile page.

[2015-01-29 15:28] stowellm commented on #1890
What should be patched is that deleting a project from the project edit or user page should actually remove the project.  What is *not* addressed by the patch is deleting a user also deleting his or her respective projects.  That latter should be addressed in the much-talked-about-but-not-happening-yet patch where we actually delete everything on iSENSE when users choose to delete stuff (i.e. proj

[2015-01-29 15:40] stowellm commented on #1647
@JKinsman - cannot reproduce on Safari 8.0.2 Mac OSX 10.10.1

[2015-01-29 15:43] stowellm commented on #1834
@JKinsman - cannot reproduce.  See below image.  Passes for me Safari 8.0.2 OSX 10.10.1.

![screen shot 2015-01-29 at 10 43 08 am](https://cloud.githubusercontent.com/assets/1039162/5960481/b418785c-a7a3-11e4-8a91-3b2f6ff99899.png)

[2015-01-29 15:53] stowellm commented on #1952
I was just about to make an issue about this until I saw you already made one.  What I wanted to mention is that the `Save` button should be on the right.  Convention appears to be to always put positive action buttons on the right, negative on the left.

[2015-01-29 16:22] stowellm opened #1958 "User Submitted Issue"
**General description:** Just a test - delete me

**live/dev/localhost:** live
**iSENSE Version:** v5.12-164-g4fcf819
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.2214.93

**Steps to Reproduce:**

252

[2015-01-29 16:23] isenseanon opened #1959 "User Submitted Issue"
**General description:** Just an anon test - delete me

**live/dev/localhost:** live
**iSENSE Version:** v5.12-164-g4fcf819
**Logged in (Y or N):** Y
**Admin (Y or N):** Y

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.2214.93

**Steps to Reproduce:**

252

[2015-01-29 16:23] #1959 closed

[2015-01-29 16:23] #1958 closed

[2015-01-29 16:36] stowellm commented on #1876
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).

[2015-01-29 16:36] stowellm commented on #1890
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).

[2015-01-29 16:36] stowellm commented on #1893
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).
To better the description of the error that was being produced on live (that seems to be fixed now): put normal force on the X axis, and *both* of the frictional forces on the Y axis when drawing a regression.

[2015-01-29 16:36] stowellm commented on #1921
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).
Fine, but there should be feedback indicating why clicking that 'X' with only a single row won't delete it (i.e. a message that says something like "Must have one row of data")

[2015-01-29 16:36] stowellm commented on #1922
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).

[2015-01-29 16:36] stowellm commented on #1924
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).
Only note here (unrelated to this issue, however): if you enter an invalid lat/lon and click 'add row', the invalid data gets erased with no feedback.

[2015-01-29 16:36] stowellm commented on #1795
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).

[2015-01-29 16:36] stowellm commented on #1804
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).
As Anthony already mentioned, one says #check all the other says #select all -- inconsistent

[2015-01-29 16:36] stowellm commented on #1834
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).

[2015-01-29 16:36] stowellm commented on #1866
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).

[2015-01-29 16:36] stowellm commented on #1867
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).

[2015-01-29 16:36] stowellm commented on #1875
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).

[2015-01-29 16:36] stowellm commented on #1668
PASSED testing on Chrome 40.0.2214.93 (OSX Yosemite 10.10.1).

[2015-01-30 00:20] kcarcia commented on #1953
@jaypoulz I cannot reproduce this. I tried creating a project just as I did before. Adding a number field, adding a data set, then adding a timestamp field, and another data set... Nothing. I tried looking at this project, and I just can't figure out what the issue is. I can't remember if there's anything else super specific that I did.

[2015-01-30 00:21] kcarcia commented on #1952
@stowellm +1 !

[2015-01-30 00:28] kcarcia commented on #1866
Now that I think about it, I don't think the proper changes were merged onto dev when @JKinsman tested this. We will double-confirm this with a fresh set of testing tomorrow.

[2015-01-30 00:29] kcarcia commented on #1834
Once again, I don't think the proper changes were merged onto dev when @JKinsman tested this. We will double-confirm this with a fresh set of testing tomorrow.

[2015-01-30 00:30] kcarcia commented on #1659
@stowellm Awesome! Will review first thing when I get in tomorrow!

[2015-01-30 00:33] kcarcia commented on #1890
@stowellm Thank you for that thorough explanation, Mike. @asalani93 can you provide us an example of how you can still access a project by its ID please?

[2015-01-30 00:39] kcarcia commented on #1912
@stowellm Absolutely will look into path B tomorrow with you.

[2015-01-30 02:07] jaypoulz commented on #1949
@asalani93 You have my permission to review you're own code this time. If you could move the patch to the iSENSE better-* repo, and submit a patch with these repos as the basis for the new Gem, that would be awesome!

[2015-01-30 02:14] jaypoulz commented on #1953
If we see it again and can reproduce, we'll try to fix this. For now I'm going to close this.

[2015-01-30 02:14] #1953 closed

[2015-01-30 02:42] jaypoulz commented on #1912
@kcarcia
@stowellm  is correct. I messed this up, and I don't think there was real intention to fix something different here. I was just refactoring, but I accidentally forgot the whole 'can_delete' case.

Here is an alternative version that might fix this.
[code]

[2015-01-30 02:44] jaypoulz commented on #1912
@stowellm do you want to patch this up or do you want me to do it? (since I broke it) :stuck_out_tongue_closed_eyes:

[2015-01-30 14:36] stowellm commented on #1912
@jaypoulz - I've patched it and will submit a PR shortly.  Btw, needed to change the line:
`<% cls = 'btn btn-danger'; if can_delete? @project then cls += ' disabled' end %>`
to:
`<% cls = 'btn btn-danger'; if !can_delete? @project then cls += ' disabled' end %>`
:camel:

[2015-01-30 16:15] kcarcia commented on #1912
TESTERS: Please test both paths discussed listed in Steps to Reproduce in description above.

[2015-01-30 16:50] kcarcia opened #1961 "User Submitted Issue"
**General description:** Test

**live/dev/localhost:** live
**iSENSE Version:** v5.12-208-gdd7f7af
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.2214.91

**Steps to Reproduce:**

405

[2015-01-30 16:51] #1961 closed

[2015-01-30 16:52] bdonald25 opened #1962 "Delete button overflows in media panel"
**General description:** Delete button on media object overflows

**live/dev/localhost:** live
**iSENSE Version:** v5.12-208-gdd7f7af
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 41.0.2272.35

**Steps to Reproduce:** Project's page. You have to minimize the width of the browser.

![screen shot 2015-01-30 at 11 21 21 am](https://cloud.githubusercont

[2015-01-30 16:54] bdonald25 opened #1963 "Checkboxes on heat map disappear after resizing radius."
**General description:** Heat map check boxes disappear.

**live/dev/localhost:** live
**iSENSE Version:** v5.12-208-gdd7f7af
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 41.0.2272.35

**Steps to Reproduce:** Changing the radius on the heat map.

Before
![screen shot 2015-01-30 at 11 50 51 am](https://cloud.githubusercontent.com/assets/4121924/5979

[2015-01-30 17:04] kcarcia commented on #1912
@stowellm I can't reproduce my issue with path B. I was testing on a very outdated browser, so that could have been the problem.

[2015-01-30 17:08] asalani93 opened #1964 "User Submitted Issue"
**General description:** not enough free pizza

**live/dev/localhost:** live
**iSENSE Version:** v5.12-208-gdd7f7af
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** X11
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:** there is no free pizza

417

[2015-01-30 17:08] isenseanon opened #1965 "User Submitted Issue"
**General description:** pizza pizza pizza

**live/dev/localhost:** live
**iSENSE Version:** v5.12-208-gdd7f7af
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** X11
**Browser/Version:** Chrome 39.0.2171.71

**Steps to Reproduce:** pizza^2

417

[2015-01-30 17:09] #1964 closed

[2015-01-30 17:09] #1965 closed

[2015-01-30 17:12] bdonald25 opened #1966 "After removing a location field you can't add another one."
**General description:** After deleting a location field you can't add another one without saving.

**live/dev/localhost:** live
**iSENSE Version:** v5.12-208-gdd7f7af
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 41.0.2272.35

**Steps to Reproduce:** On manual entry page.

![screen shot 2015-01-30 at 12 11 32 pm](https://cloud.githubusercontent.com

[2015-01-30 17:20] asalani93 commented on #1875
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1876
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1890
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1893
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1921
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1922
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1804
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).
still says SelectAll plz fix

[2015-01-30 17:20] asalani93 commented on #1834
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1866
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1867
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1647
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1659
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1668
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1764
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:20] asalani93 commented on #1795
PASSED testing on Chrome 39.0.2171.71 (UUBBUUNNTTUU 1144..0044).

[2015-01-30 17:25] isenseanon opened #1967 "User Submitted Issue"
**General description:** DELETE ME

**live/dev/localhost:** live
**iSENSE Version:** v5.12-208-gdd7f7af
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.2214.93

**Steps to Reproduce:** nothing

1

[2015-01-30 17:25] stowellm opened #1968 "User Submitted Issue"
**General description:** NO

**live/dev/localhost:** live
**iSENSE Version:** v5.12-208-gdd7f7af
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.2214.93

**Steps to Reproduce:** NEVER

1

[2015-01-30 17:25] #1967 closed

[2015-01-30 17:25] #1968 closed

[2015-01-30 18:01] bdonald25 commented on #1893
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1912
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1921
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1922
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1924
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1834
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1866
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1867
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1875
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1876
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1647
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1659
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1668
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1764
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1795
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:01] bdonald25 commented on #1804
PASSED testing on Chrome 41.0.2272.35 (mac).

[2015-01-30 18:25] JKinsman opened #1969 "User Submitted Issue"
**General description:** Too many bugs

**live/dev/localhost:** live
**iSENSE Version:** v5.12-208-gdd7f7af
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Safari 8.0.3

**Steps to Reproduce:** For bug in bugs, remove bug

421

[2015-01-30 18:26] isenseanon opened #1970 "User Submitted Issue"
**General description:** Bugs

**live/dev/localhost:** live
**iSENSE Version:** v5.12-208-gdd7f7af
**Logged in (Y or N):** Y
**Admin (Y or N):** Y

**OS:** Macintosh
**Browser/Version:** Safari 8.0.3

**Steps to Reproduce:** Bugs

421

[2015-01-30 18:26] #1970 closed

[2015-01-30 18:27] #1969 closed

[2015-01-30 18:44] stowellm commented on #1922
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1924
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1893
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1912
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1921
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1876
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1890
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1866
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1867
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1875
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1795
PASSED testing on Chrome 40.0.2214.93 (OSX).
While this passes for every non-admin user, I found for some reason this is still broken for admin.  Low priority since it only breaks for admins though.

[2015-01-30 18:44] stowellm commented on #1804
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1834
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1647
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1659
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1668
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:44] stowellm commented on #1764
PASSED testing on Chrome 40.0.2214.93 (OSX).

[2015-01-30 18:49] JKinsman commented on #1893
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1912
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1921
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1922
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1924
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1866
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1867
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1875
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1876
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1890
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1659
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).
Looks good!  @stowellm if you could add 2015 as my year of graduation, I'd greatly appreciate it! :)

[2015-01-30 18:49] JKinsman commented on #1764
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).
Everything looked great! :).. My only thought is that if a user enters invalid data and then clicks save, the data is simply wiped out.  Should we perhaps force them to change (or delete) the data, instead of deleting it and saving before they have the chance to correct the invalid input?

[2015-01-30 18:49] JKinsman commented on #1795
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1804
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1834
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 18:49] JKinsman commented on #1647
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-01-30 19:00] kcarcia commented on #1795
Still needs to be fixed for admin users.

@stowellm

[2015-01-30 19:00] stowellm opened #1971 "Contact Page Fine Adjustments"
**General description:**
Anything found in the contact page that should be adjusted after the Friday, 1/30/15 release should be noted here:

- [x] Add 2015 to Jake's BS receive date

**live/dev/localhost:** any
**iSENSE Version:** 1/30/15's release
**Logged in (Y or N):** n/a
**Admin (Y or N):** n/a

**OS:** n/a
**Browser/Version:** n/a

**Steps to Reproduce:** n/a

**Associated Image(s):** n/a

[2015-01-30 19:05] kcarcia commented on #1764
@JKinsman Will add this to a new issue containing some post-release fixes for Slickgrid.

[2015-01-30 19:05] #1647 closed

[2015-01-30 19:05] #1659 closed

[2015-01-30 19:05] #1668 closed

[2015-01-30 19:05] #1764 closed

[2015-01-30 19:05] #1804 closed

[2015-01-30 19:05] #1834 closed

[2015-01-30 19:05] #1866 closed

[2015-01-30 19:05] #1867 closed

[2015-01-30 19:05] #1875 closed

[2015-01-30 19:05] #1876 closed

[2015-01-30 19:05] #1890 closed

[2015-01-30 19:05] #1893 closed

[2015-01-30 19:05] #1904 closed

[2015-01-30 19:05] #1912 closed

[2015-01-30 19:05] #1915 closed

[2015-01-30 19:05] #1921 closed

[2015-01-30 19:05] #1922 closed

[2015-01-30 19:05] #1924 closed

[2015-01-30 19:06] stowellm opened #1972 "Long Data Set Names are Clipped in the Vis Controls"
**General description:** Having a single data set with a long name is clipped in the "Groups" section of the vis controls.

(Assigned right now to @jaypoulz because I know he's re-doing the vis UI)

**live/dev/localhost:** dev
**iSENSE Version:** v5.12-208-gdd7f7af
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** OSX Yosemite 10.10.1
**Browser/Version:** Chrome 40

**Steps to Reproduce:**

[2015-01-30 19:22] kcarcia opened #1973 "Slickgrid v2 Enhancements"
**General description:** The following enhancements should be made to v2 of Slickgrid:

- [x] Feedback indicating why clicking that 'X' with only a single row won't delete it (i.e. a message that says something like "Must have one row of data")

- [x] Feedback why entering an invalid lat/lon and click 'add row' erases data.

- [x] If a user enters invalid data and then clicks save, the data is sim

[2015-01-31 14:28] fgmart commented on #977
@stowellm we talked about this yesterday. This isn't in the build yet -- is this issue open somewhere else?

@kcarcia please comment too?

Thanks

[2015-02-03 18:41] stowellm commented on #977
Addressed once #1925 is finished and merged.

[2015-02-03 18:59] stowellm opened #1975 "Mike's Home Page Feedback"
**General description:**
- [x] Rather than scale-to-fit on the top images on the homepage, I think a fill would be more appropriate (i.e. image takes on the larger of either width or height and extends beyond the bounds of the other)
- [x] I really don't like how the iSENSE menubar is non-static.  This could be debatable and affects the whole website, but I think it should always remain up top eve

[2015-02-03 19:04] stowellm opened #1976 "Images in description boxes shouldn't fill width if they are not actually that wide"
**General description:**
See the image below of a tutorial - the image of the green plus and "Add Description" are *way* too big.

**live/dev/localhost:** live
**iSENSE Version:** v6.0
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** Windows 8.1
**Browser/Version:** Chrome 40.0

**Steps to Reproduce:**
- Go to http://isenseproject.org/tutorials/1
- Note the images are huge

**Associated Im

[2015-02-03 20:27] kcarcia commented on #1944
TESTERS: Go to a table vis and make sure the first image in the media box is no longer broken.

[2015-02-04 14:45] asalani93 commented on #1973
In regards to the third bullet point, this is currently not possible with the current way I have the code structured.  There is either no way to force the grid to valid its data, or the documentation is lacking even more than I thought it was.

However, it is important to fix that.  Therefore, I've decided to go back and refactor/redo a lot of the slickgrid stuff.  The other three are super easy f

[2015-02-04 15:15] JKinsman commented on #1975
Thank you very much for the feedback, @stowellm !

1.  I agree, this will definitely be fixed.
2.  I did not plan to fix this, although it can definitely be open to discussion.  Personally, I'm against it.  Sorry! :stuck_out_tongue:
3.  I agree, this will be fixed
4.  This was initially by design, but is also preference.  I will find something subtle that I can add to make them stand out a bit mor

[2015-02-04 15:24] JKinsman commented on #1975
@stowellm I just tried capitalizing the titles.  I think it looked better previously.

[2015-02-04 22:21] JKinsman commented on #1975
@stowellm I believe I have addressed all the concerns I checked above.  Check Dev, and let me know if you have any additional concerns (other than those that are unchecked). 😊

[2015-02-05 02:46] bdonald25 opened #1980 ""Select All" is broken on tables"
**General description:** "Select all" is broken on tables.

**live/dev/localhost:** live
**iSENSE Version:** v6.0
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 41.0.2272.35

**Steps to Reproduce:** If you click a dataset to disable it and then re-enable the same dataset, the select all button will not re-enable but will act like it is enabled. (ie,

[2015-02-06 17:11] stowellm commented on #1795
All set with the above pull request :musical_keyboard:

[2015-02-06 17:26] tylerpuleo opened #1983 "Website sees contrib key post as a user post when using the API in Python"
General description: Website sees contrib key post as a user post when using the API in Python.

live/dev/localhost: dev
iSENSE Version: v6.0
Logged in (Y or N): Y
Admin (Y or N): N

OS: Ubuntu 14.04
Browser/Version: Chrome 41.0.2272.35

Steps to Reproduce: Use Python script to make a post request to the API using a contributor key.

[2015-02-06 20:28] jaypoulz commented on #1973
@asalani93 is it not possible to have a backup copy of the data made on save, and repopulate the grid with the backup upon failure?

[2015-02-06 20:47] asalani93 commented on #1973
There's no way to do that without either allowing invalid data to leak into
the dataset, or killing compatibility with any non-in-house editors.
On Feb 6, 2015 3:28 PM, "Jeremy Poulin" <notifications@github.com> wrote:

[2015-02-07 19:45] bdonald25 opened #1985 "Can enter a key while logged in"
**General description:** Can enter a key when I am logged in.

**live/dev/localhost:** live
**iSENSE Version:** v6.0
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 41.0.2272.43

**Steps to Reproduce:** On my project's page that I just created. I created a project and added a key to it.

On the right hand side I can enter a key even though I am logged

[2015-02-07 20:49] bdonald25 commented on #1983
@jaypoulz The bug clearly exists on Dev (I reproduced it on multiple projects) but I can not reproduce it locally. I ran the same python code to upload data to dev and my localhost. I just pulled, so my branch is not behind. Any ideas?

[2015-02-08 01:41] #1949 closed

[2015-02-08 01:41] #1938 closed

[2015-02-08 22:16] jaypoulz commented on #1973
@asalani93 so slickgrid has limited export / import capabilty? I mean, export has to be there for uploading to the website, but import isnt?

[2015-02-08 22:19] jaypoulz commented on #1983
Without comparing the server logs, I have not idea what could be going on. I can take a look at it with you next time our hours coincide.

[2015-02-08 22:28] asalani93 commented on #1973
Importing/exporting isn't the problem - that's incredibly easy.  The problem is that when saving, I currently force the current edit to try and commit.  If it's an invalid edit, it's discarded.  This is mostly all default Slickgrid behavior

Repopulating the grid would put the data as the initial loaded value for the editor, which is implicitly accepted as valid.  You could put an invalid latitude

[2015-02-08 22:36] jaypoulz commented on #1973
Neat. This clarification definitely shines some light on the issue. SlickGrid is kind of a pain, isn't it haha? :smiley_cat: I mean, theoretically, you could just run the validate method on the data you've exported, sanitize it, and then reimport it. I don't know which is easier, but the flaw with this suggestion is that validation occurs twice.

[2015-02-10 03:45] tylerpuleo opened #1987 "API Extra Project calls not listed"
General description: The API has extra calls to projects that aren't listed in the Docs. "/api/v1/projects"

live/dev/localhost: live
iSENSE Version: v6.0
Logged in (Y or N): Y
Admin (Y or N): N

OS: Ubuntu 14.04 (Posting with Javascript)
Browser/Version: Chrome 41.0.2272.43

Steps to Reproduce: N/A

[2015-02-10 03:53] tylerpuleo opened #1988 "API has no error for making contrib key if key already exists"
General description: If contrib key already exists and you try to make another contrib key with the same name there is no error message thrown "/api/v1/projects/XX/add_key"

live/dev/localhost: live
iSENSE Version: v6.0
Logged in (Y or N): Y
Admin (Y or N): N

OS: Ubuntu 14.04 (Javascript)
Browser/Version: Chrome 41.0.2272.43

Steps to Reproduce: Run this Javascript:

    var apiUrl = 'http://isen

[2015-02-10 04:05] tylerpuleo opened #1989 "API Contrib Key Takes Project ID in url and as a param"
General description: Project ID listed twice in Contrib key api call "/api/v1/projects/XX/add_key"

live/dev/localhost: live
iSENSE Version: v6.0
Logged in (Y or N): Y
Admin (Y or N): N

OS: Ubuntu 14.04 (Jacascript)
Browser/Version: Chrome 41.0.2272.43

Steps to Reproduce: Look at docs. Need to pass ID twice.

[2015-02-10 05:18] tylerpuleo opened #1990 "API Typo in /api/v1/projects/XX/jsonDataUpload"
General description: API typo "Data is a hash of field_id -> data array pairs. FIELD_ID and FIELD_ID_2 would be replaced with ids for their respective filds." filds instead of fields.

live/dev/localhost: live
iSENSE Version: v6.0
Logged in (Y or N): Y
Admin (Y or N): N

OS: Ubuntu 14.04
Browser/Version: Chrome 41.0.2272.43

Steps to Reproduce: Type

[2015-02-10 06:02] tylerpuleo opened #1991 "Title included but doesn't do anything /api/v1/data_sets/append (contrib key one)"
General description: Title included but doesn't do anything /api/v1/data_sets/append (contrib key one)

live/dev/localhost: live
iSENSE Version: v6.0
Logged in (Y or N): Y
Admin (Y or N): N

OS: Ubuntu 14.04
Browser/Version: Chrome 41.0.2272.43

Steps to Reproduce: N/A

[2015-02-10 17:16] jaypoulz commented on #1987
I think what is meant here is that the are optional parameters to projects -> index that are not listed in the documentation

[2015-02-10 17:49] tylerpuleo commented on #1987
Yes, that's a much better way of explaining it thank you Jeremy.

On Tue, Feb 10, 2015, 12:16 PM Jeremy Poulin <notifications@github.com>
wrote:

[2015-02-10 19:15] stowellm commented on #1669
@jaypoulz Can this be closed as wontfix?  No one has IE :smile:

[2015-02-10 19:25] stowellm commented on #1795
####TESTERS:####

Login as an admin account and go to the admin's user page.  Click the "My Projects" tab and back to the "Liked Projects" tab.  Ensure they both work and show what they are supposed to.

[2015-02-10 19:26] stowellm commented on #1971
@JKinsman When testing, just make sure you have your graduation date next to your contact info :smile_cat:

[2015-02-10 19:27] JKinsman commented on #1971
Yay! 😄.. Thanks Mike!

Sent from my iPhone

On Feb 10, 2015, at 2:26 PM, Mike Stowell <notifications@github.com<mailto:notifications@github.com>> wrote:

@JKinsman<https://github.com/JKinsman> When testing, just make sure you have your graduation date next to your contact info [:smile_cat:]

—
Reply to this email directly or view it on GitHub<https://github.com/isenseDev/rSENSE/issues/1971#issueco

[2015-02-10 19:28] stowellm commented on #1896
@jaypoulz and/or @fgmart  - To work on this I'll need a face-to-face conversation explaining what we want here and whether or not it is within the scope of my current abilities to work on this.

[2015-02-10 19:39] stowellm opened #1992 "Tutorials Dropdown is Unreadable When Highlighted"
**General description:**
Looks like someone just update the tutorials dropdown in the menu to be dark blue instead of grey.  It looks nice, but now when you hover over a tutorial, the light-grey highlight on the white text makes it near impossible to read.

**live/dev/localhost:** dev
**iSENSE Version:** v5.12
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** Ubuntu
**Browser/Version:** Chr

[2015-02-10 19:51] stowellm commented on #1976
Looks like this issue is already resolved.  I deleted and re-uploaded the images in a tutorial on dev (http://rsense-dev.cs.uml.edu/tutorials/1) and they re-size correctly.

@kcarcia I'm thinking of closing this issue and opening a new one that addresses one of the following:
1) deletes and reuploads the images to size correctly in our tutorials
-or-
2) re-doing the main tutorials completely now t

[2015-02-10 20:15] stowellm commented on #1980
Steps to Reproduce (modified since it took me a while to understand Bobby's instructions):
1. Visualize a group of data sets with some data and multiple fields
2. Go to table
3. Make sure #Check All is selected along with the other fields
4. Deselect one field. Note #Check All is also deselected
5. Reselect that field.  Note #Check All is still deselected
6. Check off #Check All. Note the bug: all

[2015-02-11 02:54] kcarcia commented on #1976
@stowellm I definitely think 2 is the way to go! That would be great. We did those tutorials awhile ago. They definitely need to be updated.

[2015-02-11 18:47] jaypoulz commented on #1669
@stowellm Nope - schools still use i.e. Don was using it at Tyngsboro high when he reproduced it just a month ago. We need to fix this if possible. Testing will require a vm.

[2015-02-11 18:49] jaypoulz commented on #1896
@stowellm Best way to learn vis is just to start doing it :smile_cat: but yes, we will talk in person

[2015-02-11 19:07] isenseanon opened #1994 "User Submitted Issue"
**General description:** No fields show up to enter data

**live/dev/localhost:** live
**iSENSE Version:** v6.0
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Windows
**Browser/Version:** Chrome 40.0.2214.111

**Steps to Reproduce:** setting up the project and trying to enter test data manually

66

[2015-02-11 19:39] tylerpuleo opened #1995 "Change API Mouse over cursor"
General description: When you mouse over the get and post in the API you get a text cursor.

live/dev/localhost: both
iSENSE Version: v6.0
Logged in (Y or N): both
Admin (Y or N): N

OS: Ubuntu
Browser/Version: Chrome 40

Steps to Reproduce: Go to the API mouse over a POST or GET label.

[2015-02-11 21:59] jdalphon commented on #1989
@bdonald25 I will consider your pull if you can answer this question. Could this, at all, cause a current working consumer of the API to now fail? Basically you have to prove that the call
`isenseproject.org/api/v1/projects/3/add_key?...  contrib_key: { project_id: something other than 3, ...} `
failed previously (error case, not just do the wrong thing)
I know this is dumb but if someone literall

[2015-02-11 22:20] bdonald25 commented on #1989
@jdalphon

Before it was using the param "project_id" not the "id" param in the url.
/api/v1/projects/2/add_key project_id: 3  -> will currently create a key for project 3
Now it uses the project id from the url, so now it will create the key for project 2.

The proper way I should have done it if I was worried about compatibility would be to change the url parameter to "project_id". However, I we

[2015-02-11 23:09] jaypoulz commented on #1995
lolololololololol

[2015-02-11 23:28] jaypoulz commented on #1989
@bdonald25 That's fine, but let's be more mindful about this in the future. You're right that it is unlikely that anyone depends on this, but as a general rule of thumb, anything we release out live should be considered supported. Is the update for add key already live?

[2015-02-11 23:38] bdonald25 commented on #1989
@jaypoulz No this update is currently pending as a pull request. Keep in mind it would only have unintended consequences if someone had a different id for both project parameters. If they had previously used the same project id in the url as the one they passed as a parameter it will still work.

[2015-02-11 23:39] jaypoulz commented on #1989
I left a comment in the pull request as to how to fix this without 'breaking' anything. You're are right that having both params be different is a problem, but for that we just set a default.

[2015-02-12 02:28] kcarcia commented on #1994
@jaypoulz Did someone on the iSENSE team submit this? I'm not clear on what's broken. Is it manual entry table (for data) or setting up fields for a project manually?

[2015-02-12 02:43] kcarcia opened #2000 "Bug Reporting v3"
**General description:** Currently, there are 2 concerns regarding bug reporting:

- [x] The only place to report a bug is in the footer, and it's not easy to find. Adding the link to report a bug in other places will make it more available to users. A few of these places include <strike>(1) vis pages, (2) saved vis pages, (3) manual entry table, (4) edit_field pages,(5) projects page, (6) contact

[2015-02-12 04:00] jaypoulz commented on #2000
Hmmm. I suppose 'Report a Bug' falls on the negative side. In that regard, so do 'Report Problem/Issue' (assumes something bad happened).

[code]
Or
[code]
Or just plain
[code]

[2015-02-12 19:09] stowellm commented on #2000
I like `Send Us Feedback`, but if I was browsing a website and found an issue, I'd immediately be using my <kbd>Ctrl</kbd>+<kbd>f</kbd> and searching for "issue" or "bug."  `Send Us Feedback` sounds like people may interpret this as sending us things like "thanks I really like this website," when really the intention is strictly to report problems.  Therefore even though the language *is* negative

[2015-02-12 19:14] stowellm commented on #2000
On a side note, happy 2000th issue!

[2015-02-13 00:24] kcarcia commented on #1995
TESTERS: Go to http://rsense-dev.cs.uml.edu/api/v1/docs and verify the cursor changes when you mouse over the POSTs/GETs. They should look clickable.

[2015-02-13 00:27] kcarcia commented on #1990
TESTERS: Go to http://rsense-dev.cs.uml.edu/api/v1/docs and proof the two POST Data Sets	/api/v1/projects/XX/jsonDataUpload sections. If you're feeling ambitious, feel free to proof all the documentation.

[2015-02-13 00:28] kcarcia commented on #1980
TESTERS: Please follow the beautiful steps to reproduce @stowellm posted above.

[2015-02-13 00:29] kcarcia commented on #1971
TESTERS: Jake's graduation date should now be included.

[2015-02-13 00:30] kcarcia commented on #1669
TESTERS: I will pick a designated person to test this.

[2015-02-13 00:32] kcarcia commented on #1909
TESTERS: @JKinsman worked his math magic to fix linear, quadratic, cubic, exponential, and logarithmic regressions on both Timeline and Scatter. To test this and #1299, please test the various types of regressions.

[2015-02-13 00:34] kcarcia commented on #1299
TESTERS: See #1909 for testing this. You can steal the data from the project in the description to test the cubic regression.

[2015-02-13 00:37] kcarcia commented on #1951
TESTERS: View user page and check text displayed when you have no liked projects.

[2015-02-13 00:38] kcarcia commented on #1991
TESTERS: Go to http://rsense-dev.cs.uml.edu/api/v1/docs and make sure title is not listed in /api/v1/data_sets/append

[2015-02-13 00:52] kcarcia commented on #2000
@stowellm @jaypoulz

Thanks for this awesome feedback!!!

I love the idea of saying something like "Send Us Your Feedback," but I agree with Mike on both fronts: it's probably better to use "bug" or "issue" since that's likely what a user will be searching for, and I also agree "issue" is the less "harsh" word. That's the word used in MIT App Inventor, as well.

With that being said, I'll keep the

[2015-02-13 01:00] kcarcia opened #2002 "Edit_fields UI Makeover"
**General description:** The Edit Fields page is getting a makeover. Changes will include the following:
- [x] Add header to page.
- [x] Buttons to add fields instead of a dropdown list.
- [x] Buttons moved to bottom of page.
- [x] Option to add more than one Number and Text field at a time.
- [x] Delete button should match delete button on Slickgrid.
- [x] Restrictions and Units columns should be

[2015-02-13 14:25] jaypoulz commented on #1824
@kcarcia would you mind throwing this in testing (patch was merged by Jim)

[2015-02-13 15:06] kcarcia commented on #1952
TESTERS: Alignment on the Google Doc box should be fixed. Also, the Save should be on the right. Cancel on the left.

[2015-02-13 15:07] kcarcia commented on #1824
TESTERS: Please follow steps to reproduce.

[2015-02-13 16:43] asalani93 opened #2003 "Hiding and unhiding projects from liked/my projects is SSLLOOWW"
**General description:** Unhiding a project in particular takes forever.  Sometimes changing the tab makes it go faster.

**live/dev/localhost:** dev
**iSENSE Version:** 6.1
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04.1 x64
**Browser/Version:** Chrome 39.0 x64

**Steps to Reproduce:**
* create a project
* click on your profile
* switch to my projects tab
* click "hide"
*

[2015-02-13 16:46] stowellm commented on #1990
PASSED testing on Internet Explorer 11.0 (windows 7).
But some comments:
- /api/v1/projects/XX --- "•XX should be replaced with the ID for the project. Or set id as a GET variable" --- incoherent
- /api/v1/fields/XX --- same as above
- /api/v1/projects --- "Response:  Projects (array)" --- JSON format this please
- /api/v1/fields --- "•restrictions - Currently text fields only. Defines accepted va

[2015-02-13 16:46] stowellm commented on #1991
PASSED testing on Internet Explorer 11.0 (windows 7).

[2015-02-13 16:46] stowellm commented on #1995
PASSED testing on Internet Explorer 11.0 (windows 7).

[2015-02-13 16:46] stowellm commented on #1951
FAILED testing on Internet Explorer 11.0 (windows 7).
Always says "No Results" even when there are projects/data sets/visualizations, but no liked projects.  Once I liked a project, the user page loaded with the text "Page 1 of 1", but once I switched tabs to "My Projects," it went back to "No Results."

[2015-02-13 16:46] stowellm commented on #1952
PASSED testing on Internet Explorer 11.0 (windows 7).

[2015-02-13 16:46] stowellm commented on #1971
PASSED testing on Internet Explorer 11.0 (windows 7).

[2015-02-13 16:46] stowellm commented on #1980
PASSED testing on Internet Explorer 11.0 (windows 7).

[2015-02-13 16:46] stowellm commented on #1669
PASSED testing on Internet Explorer 11.0 (windows 7).

[2015-02-13 16:46] stowellm commented on #1795
PASSED testing on Internet Explorer 11.0 (windows 7).

[2015-02-13 16:46] stowellm commented on #1824
PASSED testing on Internet Explorer 11.0 (windows 7).

[2015-02-13 16:46] stowellm commented on #1909
PASSED testing on Internet Explorer 11.0 (windows 7).
Mostly works - I ran into one instance I couldn't draw an exponential but can't seem to reproduce it now.

[2015-02-13 16:46] stowellm commented on #1944
PASSED testing on Internet Explorer 11.0 (windows 7).
Well, creating a table vis doesn't even create a media object :smile: but this passes

[2015-02-13 16:46] stowellm commented on #1299
PASSED testing on Internet Explorer 11.0 (windows 7).
Cubic works, but log isn't.  See http://rsense-dev.cs.uml.edu/visualizations/449

[2015-02-13 16:46] asalani93 commented on #1980
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1 x64).

[2015-02-13 16:46] asalani93 commented on #1990
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1 x64).

[2015-02-13 16:46] asalani93 commented on #1995
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1 x64).

[2015-02-13 16:46] asalani93 commented on #1909
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1 x64).

[2015-02-13 16:46] asalani93 commented on #1944
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1 x64).

[2015-02-13 16:46] asalani93 commented on #1951
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1 x64).

[2015-02-13 16:46] asalani93 commented on #1952
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1 x64).

[2015-02-13 16:46] asalani93 commented on #1971
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1 x64).

[2015-02-13 16:46] asalani93 commented on #1299
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1 x64).

[2015-02-13 16:46] asalani93 commented on #1795
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1 x64).

[2015-02-13 16:46] asalani93 commented on #1824
PASSED testing on Chrome 39.0.2171.71 (Ubuntu 14.04.1 x64).

[2015-02-13 16:56] asalani93 opened #2004 "Duplicate colorpickers"
**General description:** Clicking on the colorpicker buttons in a certain way makes two colorpickers.  It's not that bad because only two at max can stay open, and when you do anything, at least one will go away.

**live/dev/localhost:** dev
**iSENSE Version:** 6.1
**Logged in (Y or N):** Y/N
**Admin (Y or N):** Y/N

**OS:** Ubuntu 14.04.1 x64
**Browser/Version:** Chrome 39.0 x64

**Steps to Repro

[2015-02-13 17:50] tylerpuleo commented on #1995
PASSED testing on Chrome 38.0.2125.111 (linux).

[2015-02-13 17:50] tylerpuleo commented on #1951
PASSED testing on Chrome 38.0.2125.111 (linux).

[2015-02-13 17:50] tylerpuleo commented on #1952
PASSED testing on Chrome 38.0.2125.111 (linux).

[2015-02-13 17:50] tylerpuleo commented on #1971
PASSED testing on Chrome 38.0.2125.111 (linux).

[2015-02-13 17:50] tylerpuleo commented on #1980
PASSED testing on Chrome 38.0.2125.111 (linux).

[2015-02-13 17:50] tylerpuleo commented on #1990
PASSED testing on Chrome 38.0.2125.111 (linux).

[2015-02-13 17:50] tylerpuleo commented on #1991
PASSED testing on Chrome 38.0.2125.111 (linux).

[2015-02-13 17:50] tylerpuleo commented on #1299
PASSED testing on Chrome 38.0.2125.111 (linux).

[2015-02-13 17:50] tylerpuleo commented on #1795
PASSED testing on Chrome 38.0.2125.111 (linux).

[2015-02-13 17:50] tylerpuleo commented on #1824
PASSED testing on Chrome 38.0.2125.111 (linux).

[2015-02-13 17:50] tylerpuleo commented on #1909
PASSED testing on Chrome 38.0.2125.111 (linux).

[2015-02-13 17:50] tylerpuleo commented on #1944
PASSED testing on Chrome 38.0.2125.111 (linux).

[2015-02-13 18:40] JKinsman commented on #1995
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-13 18:40] JKinsman commented on #1952
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-13 18:40] JKinsman commented on #1971
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-13 18:40] JKinsman commented on #1980
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-13 18:40] JKinsman commented on #1990
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-13 18:40] JKinsman commented on #1991
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-13 18:40] JKinsman commented on #1824
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-13 18:40] JKinsman commented on #1909
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-13 18:40] JKinsman commented on #1944
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-13 18:40] JKinsman commented on #1951
FAILED testing on Safari 8.0.3 (Mac OSX 10.10.2).
Same issue that @stowellm mentioned.

[2015-02-13 18:40] JKinsman commented on #1299
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-13 18:40] JKinsman commented on #1669
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-13 18:40] JKinsman commented on #1795
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-13 18:48] JKinsman opened #2005 "Field matching suggests a text field for timestamps"
**General description:** If you upload fields for a project from a file, timestamp fields will be matched as text fields.

**live/dev/localhost:** dev
**iSENSE Version:** 6.1
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Mac OSX 10.10.2
**Browser/Version:** Safari 8.0.3

**Steps to Reproduce:**
1.  Use a CSV with a timestamp field to create fields for a project (template.csv is fine)
2.

[2015-02-13 19:04] kcarcia commented on #1990
@bdonald25 @stowellm Will open a new bug with these changes.

[2015-02-13 19:04] #1990 closed

[2015-02-13 19:04] #1980 closed

[2015-02-13 19:05] #1971 closed

[2015-02-13 19:05] #1952 closed

[2015-02-13 19:06] #1299 closed

[2015-02-13 19:06] #1669 closed

[2015-02-13 19:06] #1795 closed

[2015-02-13 19:06] #1824 closed

[2015-02-13 19:06] #1909 closed

[2015-02-13 19:06] #1944 closed

[2015-02-13 19:06] #1991 closed

[2015-02-13 19:07] kcarcia opened #2006 "API Documentation Copyedits"
**General description:**
- [x] /api/v1/projects/XX --- "•XX should be replaced with the ID for the project. Or set id as a GET variable" --- incoherent
- [x] /api/v1/fields/XX --- same as above
- [x] /api/v1/projects --- "Response: Projects (array)" --- JSON format this please
- [x] /api/v1/fields --- "•restrictions - Currently text fields only. Defines accepted values "blue,green,red" will force

[2015-02-13 19:12] #1995 closed

[2015-02-13 19:35] #1951 closed

[2015-02-13 20:23] jdaigneau commented on #1995
PASSED testing on 40.0.2214.94. (Mac OSX 10.9.4)

[2015-02-13 20:24] jdaigneau commented on #1991
PASSED testing on Chrome 40.0.2214.94 (Max OSX 10.9.4).

[2015-02-13 20:26] jdaigneau commented on #1990
PASSED testing on Chrome 40.0.2214.94 (Max OSX 10.9.4).

[2015-02-13 20:39] jdaigneau commented on #1980
PASSED testing on Chrome 40.0.2214.94 (Max OSX 10.9.4).

[2015-02-13 20:41] jdaigneau commented on #1971
PASSED testing on Chrome 40.0.2214.94 (Max OSX 10.9.4).

[2015-02-13 20:41] jdaigneau commented on #1952
PASSED testing on Chrome 40.0.2214.94 (Max OSX 10.9.4).

[2015-02-13 20:43] jdaigneau commented on #1951
PASSED testing on Chrome 40.0.2214.94 (Max OSX 10.9.4).

[2015-02-13 20:47] jdaigneau commented on #1944
PASSED testing on Chrome 40.0.2214.94 (Max OSX 10.9.4).

[2015-02-15 05:57] jaypoulz commented on #1845
@kcarcia @JKinsman This can be closed assuming it was addressed in @JKinsman's recent regression patch. I remember talking to Jake about what he though was causing the problem, and assuming his patch addresses those concerns, it shouldn't be possible to reproduce this bug in 6.2+ iSENSE.

[2015-02-16 04:23] kcarcia commented on #1828
@stowellm Would you feel comfortable addressing this? Not sure what you're queue looks like right now.

[2015-02-16 04:26] kcarcia commented on #1898
@jaypoulz Jake might have tested this before I pushed to dev. You might want to verify this is still an issue.

[2015-02-16 17:47] jaypoulz commented on #1898
@kcarcia Good point - but I think I recall @bdonald25 showing me that it was still a bug.

[2015-02-17 01:43] bdonald25 commented on #1898
Yep, it's still there on live.

[2015-02-17 15:40] stowellm commented on #1828
Sure - as @kcarcia and I discussed, this can be addressed by a Javascript pop-up that asks the user for confirmation for navigating away if they are currently editing the description so that they don't lose work.

[2015-02-18 03:59] kcarcia commented on #1633
@jaypoulz Should this be closed as per #1897?

[2015-02-18 16:49] jaypoulz commented on #1633
I think this is actually still valid - you either have 2 histograms as a separate vis altogether OR you have an option for show side-by-side.

[2015-02-18 19:14] kcarcia opened #2009 "Edit_fields Table v2: Should Only Submit Data on Save"
**General description:** Currently, the edit_table form submits every time we add a field, and ajax is used to delete fields. The form should submit only on save. Any request to the server should only be made on save. Therefore, I will be redoing the form using Coffeescript. When I am done users will be able to do the following:

- [x] Add fields.
- [x] Delete fields.
- [x] Submit the form ONLY on

[2015-02-18 19:15] kcarcia commented on #1631
Closing as per #2009 - The edit_table form will be rebuilt using Coffeescript and allow users to order their fields.

[2015-02-18 19:15] #1631 closed

[2015-02-19 16:46] stowellm commented on #977
Will be addressed when #2008 is merged.

[2015-02-22 14:01] fgmart opened #2012 "Site is getting attacked with spam user signups"
Starting approx. Dec 5, 2014, the site has been receiving approx 30 bogus users signups per day.

E.g. see attached screenshot.

Please note not all of these users are bogus -- "Tyler P" is a developer.

The bogus logins all seem to have a last login date of Aug 16, 2013, even though they were created in the last month or two. (How is that possible.)

We need to do something about this.

![screens

[2015-02-23 16:21] jaypoulz commented on #2012
@jdalphon - halp!

[2015-02-23 18:44] fgmart commented on #2012
We talked about this and there seems to be a consensus of installing a CAPTCHA.

[2015-02-23 18:54] kcarcia commented on #1992
Closing because this is actually an issue with the new homepage. I wlil talk to @JKinsman about this.

[2015-02-23 18:54] #1992 closed

[2015-02-23 18:55] kcarcia commented on #1975
@JKinsman Can I add the issue mentioned in #1992 here?

[2015-02-23 19:07] kcarcia commented on #2005
@jdalphon Ok so as it turns out, when you export csv and xls files from Google drive, it changes the timestamp format to mm/dd/yyyy, and this explains why timestamp matching is not working. Does this mean we should extend the regex to recognize dates in that format?

[2015-02-23 22:22] JKinsman commented on #1975
@kcarcia sure thing!  I know exactly what caused this.  It was a style for the mobile site I must not have scoped correctly.  I'll fix that when I submit the patch.  Whoops! :stuck_out_tongue:

[2015-02-24 01:56] kcarcia commented on #1973
@asalani93 I've added the 3 minor things we talked about you addressing at the meeting today. Is this something you'll think you'll have in for Friday's release?

[2015-02-24 02:02] asalani93 commented on #1973
I don't have time to finish the patch by this Friday.

However, I do have some questions:

1) where do you want the cancel button?  Should it go where the save
buttons are?

2) the column headers are pulled from the field names.  Should I make a
special case for timestamps?
On Feb 23, 2015 8:56 PM, "Kaitlyn Carcia" <notifications@github.com> wrote:

[2015-02-24 03:13] kcarcia commented on #1973
@asalani93

1) It show go the left of the Add Row and Save buttons. (Unless that looks bad. If it does, ping me.)

2) Yes, please.

[2015-02-24 19:12] stowellm opened #2014 "Tutorials should be reworked"
**General description:** The tutorials on our live website (e.g. http://isenseproject.org/tutorials/1) are out of date.  Also, the images are huge (they would scale correctly if you simply remove and reupload them however).  As discussed in #1976, it would be best to redo the main tutorials and even possibly integrate the video tutorials into the main tutorials.

**live/dev/localhost:** live
**iSE

[2015-02-24 19:12] stowellm commented on #1976
Created a new issue to address this - closing this one.

[2015-02-24 19:12] #1976 closed

[2015-02-24 19:20] stowellm commented on #1975
Looking great, @JKinsman!  I have some more feedback, however :smile:
- [ ] The text in the carousel has a shadow :scream:?  Isn't that bad?
- [ ] I'm not a fan of the gray background on the carousel
- [ ] The panes are switching pretty fast.  I understand we want them to rotate relatively quickly so the user sees "oh look, its a carousel!", but at the same time, it should be readable

[2015-02-25 18:43] jdalphon commented on #2014
@stowellm All tutorials should be video tutorials where possible. However, this should be put on hold until the homepage is done.

[2015-02-25 19:20] jdalphon commented on #2012
I removed 580 accounts today that had 0 contributions.

[2015-02-25 19:37] jdalphon commented on #2012
OK we are now down to 420 users!

All users that had no likes, projects, data_sets, or visualizations were axed. I backed up the database first incase anyone emails and complains.

[2015-02-26 00:50] jaypoulz opened #2018 "Add user info to the data set toHash"
**General description:** Add owner's name, id, and contributor key to the data set's to hash function.

**live/dev/localhost:** live
**iSENSE Version:** v6.15
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** X11
**Browser/Version:** Firefox 37.0

**Steps to Reproduce:** When preforming a get request for projects with recur = true as json, we should see these values.

9

[2015-02-26 02:12] jdalphon commented on #2012
In 7 hours we had 20 new bots. Basically every 20 minutes.

[2015-02-26 19:00] stowellm commented on #1828
Do we only want this for project description or should it be generalized to any place where we have the summernote editor?  For example, user bio, visualization/data set descriptions, etc.

[2015-02-26 20:30] kcarcia commented on #1895
TESTERS: Mike made the photo vis beautiful again. Please verify it's working, and it's as beautiful as it could be (so definitely be on the lookout for UI related concerns, too!). It should no longer be one column.

[2015-02-26 20:31] kcarcia commented on #977
TESTERS: Go to the Vis index page. Verify clicking the images takes you to the respective vis.

[2015-02-27 04:40] kcarcia commented on #2002
TESTERS: Verify everything in the list above has been accomplished.

[2015-02-27 04:40] kcarcia commented on #1623
TESTERS: Please read this and make sure they make sense.

[2015-02-27 04:41] kcarcia commented on #1966
TESTERS: Verify that adding then deleting a location or timestamp field disables/enables the location/timestamp buttons respectively without having to refresh the page.

[2015-02-27 04:45] kcarcia commented on #2005
So this is a Google problem.

However, it would be nice if we could allow users to specify the format of their timestamps on the field matching form. So say their data is in the form mm/dd/yyyy... we would take that information to field match and convert their timestamp to the format we require for parsing. That way we avoid parsing hell, and everyone wins.

This would be a nice-to-have feature bu

[2015-02-27 16:03] kcarcia commented on #2018
TESTERS: Don't worry about this.

[2015-02-27 16:09] kcarcia commented on #2012
TESTERS: Verify the captcha on registration is working.

[2015-02-27 17:58] stowellm opened #2023 "Color Picker (with combo of others) makes vis disappear"
**General description:** Through some strange combination of playing with timeline, I can successfully make the timeline vis disappear after using the color picker every time I follow the steps to reproduce listed below.

**live/dev/localhost:** dev
**iSENSE Version:** v6.0-154-g1423f40
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04 LTS
**Browser/Version:** Chrome 40.0

**St

[2015-02-27 18:05] jaypoulz opened #2024 "Field restrictions should default in database as empty array"
**General description:** Field restrictions should default to empty array

**live/dev/localhost:** live
**iSENSE Version:** v6.15-24-g6a35ce4
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** X11
**Browser/Version:** Firefox 37.0

**Steps to Reproduce:** Migration 20141015152508_remove_whitespace_from_restrictions brought attention to the fact that there were actually 3 kinds of representat

[2015-02-27 18:25] stowellm opened #2025 "Deleting an image from a data set redirects to project page"
**General description:** When visualizing a single data set with media, deleting the media redirects you back to the project's show page instead of the data set visualization.

**live/dev/localhost:** dev
**iSENSE Version:** v6.0-156-gb3d8fba
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04 LTS
**Browser/Version:** Chrome 40.0

**Steps to Reproduce:**
1. Visualize a **single**

[2015-02-27 18:27] JKinsman commented on #2012
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-27 18:27] JKinsman commented on #977
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-27 18:27] JKinsman commented on #1623
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-27 18:27] JKinsman commented on #1895
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-27 18:27] JKinsman commented on #1966
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-02-27 18:27] JKinsman commented on #2002
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).
Looks great, and behaves appropriately :)

[2015-02-27 18:36] stowellm commented on #2012
PASSED testing on Chrome 40.0.2214.115 (linux).

[2015-02-27 18:36] stowellm commented on #1623
FAILED testing on Chrome 40.0.2214.115 (linux).
For location: "'latitude, longitude' between -90 and 90." Longitude can be between -180 and 180

[2015-02-27 18:36] stowellm commented on #1895
PASSED testing on Chrome 40.0.2214.115 (linux).

[2015-02-27 18:36] stowellm commented on #1966
PASSED testing on Chrome 40.0.2214.115 (linux).

[2015-02-27 18:36] stowellm commented on #2002
PASSED testing on Chrome 40.0.2214.115 (linux).
Notes:
- Using a project with some fields and data sets, I am warned I cannot delete fields.  But I can add them.  If I add a new field, I should be able to delete that field before saving it.  However, I cannot.

[2015-02-27 18:36] stowellm commented on #977
PASSED testing on Chrome 40.0.2214.115 (linux).

[2015-02-27 18:55] kcarcia commented on #2002
@stowellm Nice catch, Mike. Will be addressed in my next patch. :)

[2015-02-27 18:58] jdaigneau commented on #1989
PASSED testing on Chrome 40.0.2214.115 (mac).

[2015-02-27 18:58] jdaigneau commented on #2002
FAILED testing on Chrome 40.0.2214.115 (mac).
The buttons to add fields is at the top of the page rather than the bottom, as it was intended.

[2015-02-27 18:58] jdaigneau commented on #2012
PASSED testing on Chrome 40.0.2214.115 (mac).

[2015-02-27 18:58] jdaigneau commented on #977
PASSED testing on Chrome 40.0.2214.115 (mac).

[2015-02-27 18:58] jdaigneau commented on #1623
PASSED testing on Chrome 40.0.2214.115 (mac).

[2015-02-27 18:58] jdaigneau commented on #1895
PASSED testing on Chrome 40.0.2214.115 (mac).

[2015-02-27 18:58] jdaigneau commented on #1966
PASSED testing on Chrome 40.0.2214.115 (mac).

[2015-02-27 19:03] kcarcia commented on #2002
@jdaigneau Good catch. I should've removed that from the issue. For this particular iteration, the buttons should be at the top.

[2015-02-27 19:35] bdonald25 commented on #2002
FAILED testing on Chrome 40.0.2214.115 (linux).
If you minimize the width of the page too much, you lose the notes and the ability to add more than one field at a time.

[2015-02-27 19:35] bdonald25 commented on #2012
FAILED testing on Chrome 40.0.2214.115 (linux).
For the first few users I created, the captcha was just acting like a check box and now prompting me for text. I created the users but then was unable to log back in after I logged out. Now the captcha is prompting me for text like it should and everything is working fine. I can't reproduce it.

[2015-02-27 19:35] bdonald25 commented on #2018
PASSED testing on Chrome 40.0.2214.115 (linux).

[2015-02-27 19:35] bdonald25 commented on #977
PASSED testing on Chrome 40.0.2214.115 (linux).

[2015-02-27 19:35] bdonald25 commented on #1623
PASSED testing on Chrome 40.0.2214.115 (linux).

[2015-02-27 19:35] bdonald25 commented on #1895
PASSED testing on Chrome 40.0.2214.115 (linux).

[2015-02-27 19:35] bdonald25 commented on #1966
PASSED testing on Chrome 40.0.2214.115 (linux).

[2015-02-27 19:39] kcarcia commented on #2002
@bdonald25 These things are both intended. Otherwise, the page become unusable.

[2015-02-27 19:40] kcarcia commented on #2012
@bdonald25 Because we can't reproduce this, this will pass. However, we'll be on the lookout for this going forward.

[2015-02-27 19:40] #977 closed

[2015-02-27 19:40] #1623 closed

[2015-02-27 19:40] #1895 closed

[2015-02-27 19:40] #1966 closed

[2015-02-27 19:40] #1989 closed

[2015-02-27 19:40] #2002 closed

[2015-02-27 19:40] #2012 closed

[2015-02-27 19:40] #2018 closed

[2015-03-02 05:10] jaypoulz commented on #2023
@stowellm You and I should take a look at this together next time we can a chance.

[2015-03-02 15:07] stowellm commented on #2023
@jaypoulz Well, despite having been able to reproduce this over and over on testing day, I can't seem to get this to work again today.  Let me know if you can reproduce it - otherwise it may not be an issue after all.

[2015-03-04 16:53] kcarcia opened #2032 "Reorder tabs on user page"
**General description:** The order of the tabs on the user page should be as follows:
My Projects
Data Sets
Visualizations
Liked Projects

**live/dev/localhost:** live
**iSENSE Version:** v6.3
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.2214.115

**Steps to Reproduce:**
1. Login.
2. Go user page.

[2015-03-06 14:49] stowellm opened #2035 "Modernizr console warnings/errors on every rsense-dev page"
**General description:** On every page I visit on rsense-dev, I'm seeing some `modernizr` issues in the console.

**live/dev/localhost:** dev
**iSENSE Version:** v6.0-316-g896eb33
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** Ubuntu LTS 14.04
**Browser/Version:** Chrome 40

**Steps to Reproduce:** Go to any page on rsense-dev with your console open.

**Associated Image(s):**
![modernizr

[2015-03-06 14:54] stowellm opened #2036 "Can't template fields with a CSV that has only headers"
**General description:** I tried setting up fields for a project using a CSV that had only headers.  Got an error (see image). However if I add even one number to the row below the headers, all is fine.

**live/dev/localhost:** dev
**iSENSE Version:** v6.0-316-g896eb33
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu LTS 14.04
**Browser/Version:** Chrome 40

**Steps to Reproduce:**

[2015-03-06 15:44] kcarcia commented on #2032
TESTERS: The Liked pane should now be the last tab on the user's page.

[2015-03-06 15:44] #2023 closed

[2015-03-06 16:57] jdalphon commented on #2036
Its trying to figure out what the types  are and needs to see data

On Fri, Mar 6, 2015 at 9:54 AM, Mike Stowell <notifications@github.com>
wrote:

--
--------------------------------
James Dalphond
UML Computer Science
Engaging Computing Group

[2015-03-06 17:22] stowellm commented on #2036
Yup - I believe I just fixed this.  It need data only for timestamp/text fields, so I switched the ordering to check for latitude/longitude first (since this only requires the name of the field), then checks if the data column is nil.  If so, it continues the loop rather than failing.

[2015-03-06 18:02] stowellm opened #2040 "Box headers should show a pointer cursor"
**General description:** Box headers should use a pointer cursor to guide users into clicking them and discovering you can expand/collapse these context boxes.

**live/dev/localhost:** dev
**iSENSE Version:** v6.15-4-g0ccf671
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04 LTS
**Browser/Version:** Chrome 40

**Steps to Reproduce:**
1. Go to any page with content boxes (e.g. a

[2015-03-06 18:40] kcarcia commented on #2035
That first error message "document.body doesn't exist" is referring to the fact that we load modernizr in the head before we load the body. However, I've read loading modernizr in the body can cause problems, though. Any thoughts @jdalphon ?

[2015-03-07 21:33] fgmart opened #2044 "In manual entry, units should be shown"
I am setting up for my 91.204 for class to enter data from their experimental work. Here is the data entry form, partially filled in:

![partially-filled](https://cloud.githubusercontent.com/assets/1038856/6543376/726e2a12-c4e7-11e4-9471-18b0111cf7de.png)

I actually didn't remember whether I set up the experiment with CPU speed in MHz or GHZ, and *there are no units!*

Please let's display units

[2015-03-07 21:34] fgmart commented on #2044
They should be on a new line below the field names, and with parenthesis; e.g:

cpu-speed        string-length        time-to-solution
  (MHz)                                             (seconds)

[2015-03-07 22:17] fgmart opened #2045 "Contributor key icon is disproportionately scaled"
The contributor key looks bad because it's not proportionally scaled. Here's how it looks on the web site:

![contrib-key-squashed](https://cloud.githubusercontent.com/assets/1038856/6543542/8f8651dc-c4ed-11e4-9714-088ceff0284a.png)

Here's the actual image:

![key](https://cloud.githubusercontent.com/assets/1038856/6543545/a4994692-c4ed-11e4-8607-b371a656d6bd.png)

The key shown should be proport

[2015-03-07 22:26] fgmart opened #2046 "Units should be displayed in datapoint detail popup"
Subject line is the whole story.

E.g., we should see the units -- MB -- next to the *memory-used* field in this pop-up:

![units-in-tooltips](https://cloud.githubusercontent.com/assets/1038856/6543575/f2c8358e-c4ee-11e4-8a20-6336b53b5308.png)

Note, here there should *not* be parens. In this case, you want to see "25 MB".

[2015-03-09 14:54] jaypoulz commented on #2046
@JKinsman use the 'fieldTitle' function in vis utils - should by a 1 line patch in each file

[2015-03-10 03:06] kcarcia commented on #1941
TESTERS: Nothing too specific to test here. Just please be on the lookout for any unusual behavior across the web site.

[2015-03-10 03:06] kcarcia commented on #2040
TESTERS: When you hover over the grey box headers, the cursor should be a pointer.

[2015-03-10 03:09] kcarcia commented on #1985
TESTERS: Create a new project, and create a contributor key for that project. Do not set up fields at this point. And then,
(1) Go to the project's page and verify the option to contribute data using a key doesn't exist.
(2) Logout. Verify the option to contribute data using a key still doesn't exist.

Now, log back in. Set up fields. And then,
(1) Go to the project's page and verify the option to

[2015-03-10 18:46] fgmart opened #2047 "want to see multiple lines of regression"
if you have data sets organized into multiple groups, you can select exactly one group and then create a regression line.

then, you can select a single different group and make a regression line for that.

now, you can switch back and forth between views of either group, one at a time, each with its own regression line.

we want to be able to have both groups enabled, and see both lines simultane

[2015-03-10 19:03] jaypoulz commented on #2047
Best fit lines are currently not associated to groups by design for multiple reasons:

1. Colored lines become confusing when you switch to lines mode (which is default on Timeline)
2. Group selection is not mutually exclusive. That is to say, if there is an expectation for regression lines to be colored by group, which color do you choose for a regression line with multiple active groups?
3. Blac

[2015-03-10 19:17] fgmart commented on #2047
I have a feeling we're talking past each other.

Here are some views of the project I'm working on.

"Series" group enabled:

![screen shot 2015-03-10 at 3 15 17 pm](https://cloud.githubusercontent.com/assets/1038856/6583115/5d398544-c738-11e4-9b0a-4cb31bd5c05f.png)

"Parallel" group enabled:

![screen shot 2015-03-10 at 3 15 05 pm](https://cloud.githubusercontent.com/assets/1038856/6583123/6e8f15

[2015-03-10 19:40] jaypoulz commented on #2047
I understand your request, and I am try to say that it is inconsistent with the way regressions currently work.

1. If you show both lines and they're both black, then the user makes a new regression, will the user realize that the reason the line is in the middle of both lines is because of the group selection at create time?

**If** yes -> there is no problem.

**Else** -> how do we solve that?

[2015-03-10 19:44] fgmart commented on #2047
Let's say we just keep the black and don't worry about colorization.

I think if a user has two (or more) groups selected, and makes a regression, then yes all data points should be included. And in this case yes, you would get a third line between the other two.

I don't see this as a problem.... that would be a correct regression...

So basically the workflow I imagine is:

* individually select

[2015-03-10 19:50] jaypoulz commented on #2047
My only concern is user confusion. My fear is that users will see all of the names in the table and wonder why they render differently despite being named the same. In the past, it was clear that regressions you could see belonged to currently group selection.

[2015-03-11 16:05] kcarcia commented on #1828
TESTERS: The following behavior should occur for any summernote editor:
(1) Type in the editor.
(2) Without saving, click anywhere outside the editor.
An alert should come up asking if you really want to leave the page.

Please be sure to test this anywhere there is summernote. Some places that come to mind: projects page and user page.

Also, be sure to verify this works if you are just adding a

[2015-03-11 16:08] kcarcia commented on #1617
@bdonald25 Any way to test this?

[2015-03-11 19:00] bdonald25 commented on #1617
I don't think there's a quick way for testers to test it. You would have to
make every API call and make them fail in someway, then look at the tag for
the error messages and make sure they are consistent.

On Wed, Mar 11, 2015, 12:08 PM Kaitlyn Carcia <notifications@github.com>
wrote:

[2015-03-12 00:24] jaypoulz commented on #1617
It's probably sufficient to update the android automatic tests to check for consistency.

[2015-03-12 01:21] kcarcia commented on #1617
@bdonald25 Would you be able to do that? ^

TESTERS: Don't worry about this.

[2015-03-12 01:29] bdonald25 commented on #1617
@jaypoulz
Android automatic tests? Those never really became a thing. Jeremy made tests specific to the old apps (Canobie, DataWalk, and Uploader) but the new apps (Motion and Writer) do not have any tests written for them at this point.

The standalone java api test app tests that all the api calls work, and if they don't it will display the error message from the server. However, it does not tes

[2015-03-12 01:39] jaypoulz commented on #1617
Adding a few calls to the java API test package to verify test failure would be fine. Or you can pawn it off to Jeremy. Your call.

[2015-03-12 01:49] #1845 closed

[2015-03-12 16:44] stowellm opened #2050 "Pie chart titles are backwards ("group by field" as opposed to "field by group")"
**General description:** In pie charts, when you group by some group, the title of the chart becomes "`group` by `field`" instead of "`field` by `group`".  This is wrong

**live/dev/localhost:** live
**iSENSE Version:** 6.3
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04
**Browser/Version:** Chrome 41

**Steps to Reproduce:**
1. Create a project with 2 numbers and one text fi

[2015-03-12 20:13] fgmart opened #2052 "when you rename a data set at the viz interface, it shouldn't flash red on save"
it should flash green or something... why does it flash red?

[2015-03-12 20:14] fgmart commented on #2052
ok wait a minute the red flashing is telling me it isn't saving.

[2015-03-12 20:14] #2052 closed

[2015-03-12 20:16] fgmart opened #2053 "Can't edit data set name"
**General description:** I can't rename a data set. It flashes red when I try to save.
Also, from the Edit Data interface, it makes me think that it's working (no red flashes), but when I save the whole thing, it doesn't actually rename.

**live/dev/localhost:** live
**iSENSE Version:** v6.3
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 40.0.2214.11

[2015-03-12 21:10] JKinsman commented on #2046
@jaypoulz I'm finishing up the patch now.  The fieldTitle won't work here, as Fred wants the tooltip formatted differently.

[2015-03-13 01:32] jaypoulz commented on #2053
Awesome - that's for using the report a bug button! :smile:

Could we possibly get the project + data set you were working on as well?

[2015-03-13 01:39] kcarcia commented on #2053
@fgmart @jaypoulz Looks like this is actually happening across the board.

[2015-03-13 01:42] kcarcia commented on #2025
TESTERS: Follow the steps to reproduce to test this.

[2015-03-13 01:42] jaypoulz commented on #2053
Excellent - let's up it to high priority and let @stowellm loose on it!

[2015-03-13 01:46] kcarcia commented on #2044
TESTERS: Test the manual entry table with a project that has units specified for some field. These units should be present on the manual entry table.

[2015-03-13 01:47] kcarcia commented on #1973
TESTERS: Please verify all the items in the description are complete.

[2015-03-13 03:35] jdalphon commented on #2053
We were setting the url for the ajax request, then throwing it away.
[code]
fix
[code]

Testing now

[2015-03-13 03:48] jdalphon commented on #1994
I like how this is labeled high priority without knowing what the bug actually is. @jaypoulz

[2015-03-13 11:35] fgmart opened #2056 "in My Profile view, Liked Projects should be last tab"
because it's the least important thing.

[2015-03-13 11:35] fgmart commented on #2056
high priority because it's trivial to fix, yes?

[2015-03-13 11:39] kcarcia commented on #2056
@fgmart Already this is already fixed :)

https://github.com/isenseDev/rSENSE/issues/2032

[2015-03-13 12:53] stowellm commented on #2056
Closing as duplicate as @kcarcia mentioned.

[2015-03-13 12:53] #2056 closed

[2015-03-13 13:22] stowellm opened #2057 "Logging out when viewing a vis creates an "unauthorized" error flash"
**General description:** When you visualize two data sets you own on a project you on, all is great.  Until you log out.  You get not only the "Logged Out" success flash but get redirected a *second* time with an "Unauthorized" error flash.

**live/dev/localhost:** localhost (so this bug was introduced by someone's PR before release!! because I can't reproduce on current dev)
**iSENSE Version:** v

[2015-03-13 13:42] stowellm commented on #2057
Note to @jaypoulz: #2048 is what broke this.  I reverted every commit in that PR and this issue goes away.

[2015-03-13 14:51] kcarcia commented on #2057
TESTERS: Follow the steps to reproduce to test.

[2015-03-13 14:52] kcarcia commented on #2053
TESTERS: Verify editing a data set name works now.

[2015-03-13 14:53] kcarcia commented on #2050
TESTERS: Follow the steps to reproduce to test.

[2015-03-13 14:55] kcarcia commented on #2046
TESTERS: Units should be displayed in datapoint detail popup on vises.

[2015-03-13 14:56] kcarcia commented on #2036
TESTERS: Verify you can setup fields for a project by trying to upload a CSV with only file headers.

[2015-03-13 14:57] kcarcia commented on #1617
TESTERS: Don't worry about this.

I realize I already said this but it was kind of hidden.

[2015-03-13 15:29] kcarcia commented on #1563
TESTERS: Add pictures to a data set with a location and verify that picture shows up on the map at that location.

[2015-03-13 15:29] kcarcia commented on #1897
TESTERS: Try to break historgram!

[2015-03-13 15:37] jaypoulz commented on #1994
I labeled it high priority because people looking into it is high priority :stuck_out_tongue_winking_eye:

[2015-03-13 15:40] stowellm opened #2059 "Project and vis thumbnails are inconsistent"
**General description:** Project thumbnails use a fit scaling.  Visualization thumbnails use a fill scaling. Consistency is nice.

**live/dev/localhost:** dev
**iSENSE Version:** 6.3.something
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04 LTS
**Browser/Version:** Chrome 41.something

**Steps to Reproduce:**
1. Create a project
2. Add media and feature it
3. Create a vis
4.

[2015-03-13 15:59] asalani93 commented on #2040
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).

[2015-03-13 15:59] asalani93 commented on #2044
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).

[2015-03-13 15:59] asalani93 commented on #2046
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).

[2015-03-13 15:59] asalani93 commented on #2050
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).

[2015-03-13 15:59] asalani93 commented on #2053
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).

[2015-03-13 15:59] asalani93 commented on #1973
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).

[2015-03-13 15:59] asalani93 commented on #1985
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).

[2015-03-13 15:59] asalani93 commented on #2025
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).

[2015-03-13 15:59] asalani93 commented on #2032
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).

[2015-03-13 15:59] asalani93 commented on #2036
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).
should default to text

[2015-03-13 15:59] asalani93 commented on #1563
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).

[2015-03-13 15:59] asalani93 commented on #1828
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).

[2015-03-13 15:59] asalani93 commented on #1897
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).
maybe give each item in the histogram its actual value instead of the column value

[2015-03-13 15:59] asalani93 commented on #1941
PASSED testing on Chrome 40.0.2214.115 x64 (Ubuntu 14.04.1 x64).

[2015-03-13 16:03] asalani93 opened #2060 "iSENSE does not support negative numbers"
**General description:** Negative numbers cause the heatmap color to turn red.  Also, pie charts don't show if you have negative numbers.

**live/dev/localhost:** live
**iSENSE Version:** v6.3
**Logged in (Y or N):** Y
**Admin (Y or N):** Y

**OS:** X11
**Browser/Version:** Chrome 40.0.2214.115

**Steps to Reproduce:** I had negative values in my heatmap, and certain areas turned bright red.  It l

[2015-03-13 16:06] stowellm commented on #2060
Can confirm.
![canconfirm](https://cloud.githubusercontent.com/assets/1039162/6642208/5201dcc4-c979-11e4-9a09-a32268f88ffe.png)

[2015-03-13 16:10] stowellm commented on #2053
PASSED testing on Chrome 41.0.2272.89 (linux).

[2015-03-13 16:10] stowellm commented on #2053
PASSED testing on Chrome 41.0.2272.89 (linux).

[2015-03-13 16:10] stowellm commented on #2053
PASSED testing on Chrome 41.0.2272.89 (linux).

[2015-03-13 16:11] stowellm commented on #2053
PASSED testing on Chrome 41.0.2272.89 (linux).

[2015-03-13 16:11] kcarcia opened #2061 "Should Extend File Type Regex to Match Different Casing"
**General description:** jpgs are supported but not JPGs. Regexes should be modified to accept different casing.

**live/dev/localhost:** live
**iSENSE Version:** v6.3
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 41.0.2272.89

**Steps to Reproduce:**
1. Go to a project.
2. Click Add File under media.
3. Select a file with a .JPG extension.

[2015-03-13 16:11] stowellm commented on #2053
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:12] stowellm commented on #2053
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:12] asalani93 opened #2062 "Default type for empty CSVs should be number, not text"
**General description:** Currently, empty CSV fields default to number, not text.  Text is more general.

**live/dev/localhost:** dev
**iSENSE Version:** v6.3
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu
**Browser/Version:** Chrome

**Steps to Reproduce:**
Upload an CSV with no fields.  Observe as they default to number.

**Associated Image(s):**
:dog:

[2015-03-13 16:12] stowellm commented on #2053
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:13] stowellm commented on #2053
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:17] kcarcia opened #2063 "Add Indication on Map Markers of Data Sets that Contain Photos"
**General description:** When a data set includes a picture that is visible on the map, it'd be nice to add some type of indication it exists on the markers. Maybe a font awesome photo icon of some sort? Like a camera.

**live/dev/localhost:** live
**iSENSE Version:** v6.3
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 41.0.2272.89

**Steps to Reprod

[2015-03-13 16:19] stowellm commented on #2046
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:19] stowellm commented on #2050
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:19] stowellm commented on #2053
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:19] stowellm commented on #2057
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:19] stowellm commented on #2036
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:19] stowellm commented on #2040
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:19] stowellm commented on #2044
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:19] stowellm commented on #1973
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).
Notes:
- [ ] "An error occurred: Datasets require data" -- "data sets" is two words

[2015-03-13 16:19] stowellm commented on #1985
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).
What is the point of contributor name though?  The label is now showing up next to the data set name instead of the contributor name.  Has this always been like this?  Or is that a bug this introduced?

[2015-03-13 16:19] stowellm commented on #2025
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:19] stowellm commented on #2032
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:19] stowellm commented on #1563
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).
I labeled this as pass but you may consider this a fail: I visualized two data sets, one with an image and one without.  Pictures on map aren't showing up when I click the marker(s) for the data set with the image.  They only show up when visualizing that single data set.

[2015-03-13 16:19] stowellm commented on #1828
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:19] stowellm commented on #1897
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:19] stowellm commented on #1941
PASSED testing on Chrome 41.0.2272.89 (Ubuntu 14.04 LTS).

[2015-03-13 16:23] kcarcia opened #2064 "Flashing Red Error Indication Removal"
**General description:** Remove all remnants of flashing red errors. Like on the edit a data set title.

**live/dev/localhost:** live
**iSENSE Version:** v6.3
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 41.0.2272.89

**Steps to Reproduce:** Example:
1. Go to a project with a data set.
2. Edit the title of that data set.
3. Type in <strong></strong

[2015-03-13 16:44] stowellm commented on #1563
## My goats migrated from Africa to Greenland

So... I uploaded a goat to a data set with map coordinates in Africa.  When visualizing this data set, my goats show up (although left-aligned!!!).  However, when I visualize this data along with another data set that has no goats (and has points in Greenland)... my goats migrate!  Clicking Africa map points yields no goats, but clicking Greenland poi

[2015-03-13 16:56] bdonald25 commented on #2057
PASSED testing on Chrome 41.0.2272.89 (mac).

[2015-03-13 16:58] bdonald25 commented on #2057
PASSED testing on Chrome 41.0.2272.89 (mac).

[2015-03-13 17:03] JKinsman commented on #2057
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #2050
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #2053
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #2057
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #2040
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #2044
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #2046
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #1985
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #2025
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #2032
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #2036
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).
I agree with Anthony, should default to text :)

[2015-03-13 17:11] JKinsman commented on #1828
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #1897
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #1941
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #1973
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:11] JKinsman commented on #1617
FAILED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-13 17:33] stowellm commented on #2061
In addition to this: when checking whitelisted file types, be sure to check the *last* part of the extension as opposed to whatever is after the first dot.

e.g. Right now `thisIsNotA.gif.doc` could be a valid document but since it find `.gif`, it is not accepted.
Same goes the other way: `thisIsNotA.doc.gif` is accepted despite being a gif.

[2015-03-13 17:36] stowellm commented on #2036
There is a new issue open for defaulting to text.  I'd say release with this anyways, I'll fix that next patch.

[2015-03-13 17:51] bdonald25 commented on #2057
PASSED testing on Chrome 41.0.2272.89 (mac).

[2015-03-13 17:52] bdonald25 commented on #2057
PASSED testing on Chrome 41.0.2272.89 (mac).

[2015-03-13 17:54] kcarcia opened #2066 "Datasets -> Data Sets"
**General description:** Datasets should be Data Sets. Everywhere. Well, not in code but in copy.

**live/dev/localhost:** live
**iSENSE Version:** v6.3
**Logged in (Y or N):** N/A
**Admin (Y or N):** N/A

**OS:** Macintosh
**Browser/Version:** Chrome 41.0.2272.89

**Steps to Reproduce:**

[2015-03-13 17:55] stowellm commented on #2057
I think it passed testing for @bdonald25

[2015-03-13 17:56] bdonald25 commented on #2057
PASSED testing on Chrome 41.0.2272.89 (mac).

[2015-03-13 17:57] bdonald25 commented on #2057
PASSED testing on Chrome 41.0.2272.89 (mac).

[2015-03-13 17:57] #1617 closed

[2015-03-13 17:57] #1828 closed

[2015-03-13 17:57] #1897 closed

[2015-03-13 17:57] #1941 closed

[2015-03-13 17:57] #1973 closed

[2015-03-13 17:57] #1985 closed

[2015-03-13 17:57] #2025 closed

[2015-03-13 17:57] #2032 closed

[2015-03-13 17:57] #2036 closed

[2015-03-13 17:57] #2040 closed

[2015-03-13 17:57] #2044 closed

[2015-03-13 17:57] #2046 closed

[2015-03-13 17:57] #2050 closed

[2015-03-13 17:57] #2053 closed

[2015-03-13 17:57] #2057 closed

[2015-03-13 18:00] stowellm opened #2067 "Contributor keys are inconsistent"
**General description:** Contributor names are not used.  At all.  Anywhere.  They seem entirely useless when using a contributor key through the site.  The name that shows up next to the data set name in the data set list has become the label for the key - I feel like it *should* be the contributor name.

Also, uploading through the API with a contributor key produces inconsistent results.  Not o

[2015-03-13 18:05] stowellm opened #2068 "Can't submit testing forms through dev, only live"
**General description:** Read the title. Gets 404 page.

**live/dev/localhost:** dev
**iSENSE Version:** v6.3.something
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** any
**Browser/Version:** any

**Steps to Reproduce:** Submit bugs.

**Associated Image(s):**

[2015-03-13 22:29] jaypoulz commented on #2003
@asalani93 I might have fixed this accidentally in my ajax killa patch.

Wanna see if you can reproduce this?

[2015-03-23 03:00] scytacki opened #2071 "When a project is cloned the fields are not copied"
I first thought that was the just the way cloning was supposed to work.
But this issue describes it otherwise: https://github.com/isenseDev/rSENSE/issues/1233

And it doesn't make sense (to me) that the data sets could be copied but the fields would not be copied.

[2015-03-23 04:20] jdalphon commented on #2071
Wow. The fields are one of the only things that should be copied. Will look
into this tomorrow.
On Mar 22, 2015 11:00 PM, "Scott Cytacki" <notifications@github.com> wrote:

[2015-03-23 14:30] stowellm commented on #2062
We decided number is a better default.  iSENSE likes numbers.  Nevertheless, I improved the field matching for CSVs.  See the PR for details.

[2015-03-23 15:09] jaypoulz commented on #2062
Yesh. Text might be more generic than numbers, but numbers are more useful than text when generating visualizations. As much as possible, our goal is to encourage users to generate meaningful vises. As a general concept, the barrier between the two types will erode as we introduced numbers as grouping fields, and text as enums.

[2015-03-23 16:46] kcarcia commented on #2066
TESTERS: Anywhere that previously said Dataset should now say Data Set.

[2015-03-24 01:52] kcarcia commented on #2061
TESTERS: A few things to test here:
(1) The file types we support should be accepted regardless of casing. For example, a .jpg or .JPG are valid file types. Verify this is working.
(2) The last part of the extension should be checked. As Mike described above, thisIsNotA.gif.doc could be a valid document but since it finds .gif, it is not accepted.
Same goes the other way: thisIsNotA.doc.gif is acc

[2015-03-24 02:07] kcarcia commented on #2062
TESTERS: Upload a CSV with only headers. Every field should match to a number, except a column with the header "Time" (in that case, it should match to timestamp)

[2015-03-24 02:09] kcarcia commented on #1994
@jdalphon any update on this?

[2015-03-24 04:20] jaypoulz commented on #1994
One of us should probably just email Ed tbh.

[2015-03-24 18:27] kcarcia commented on #1994
@jdalphon  told me he did, but I don't know if he's heard back.

[2015-03-24 18:29] kcarcia commented on #2045
Also, the Submit key button and key input box need some margin. https://cloud.githubusercontent.com/assets/1039162/6802342/f77185da-d205-11e4-8521-b9d93ea11dc6.png

[2015-03-26 02:33] jdalphon commented on #2071
@scytacki yes it does not make sense. The fact that they worked is based solely on the fact that ruby did not reorder the hash when saving, because the data sets had no keys.

[2015-03-26 13:47] stowellm commented on #1794
Kind of goes with #1773

[2015-03-26 15:53] stowellm commented on #2059
Another issue that I've addressed that should be tested: Note how you can click a user's name on a vis box but not a project box (see screenshot above)?  *cringe*

[2015-03-26 16:15] jdalphon commented on #2035
modernizr probably updated on last bundle install. This does not seem to be an issue any longer. Please test this tomorrow.

[2015-03-26 16:53] jaypoulz commented on #2071
TESTERS: Clone projects should work correctly - including the clone of fields.

[2015-03-26 17:28] stowellm commented on #2035
Testers should just leave their JS console open while testing tomorrow and make sure none of this wonky stuff shows up anywhere on the site.

[2015-03-26 18:54] jaypoulz commented on #2059
TESTERS: Make sure the user name in the project index page for each project box is clickable (and directs you to the correct user).

[2015-03-26 18:57] jaypoulz commented on #2045
TESTERS: Verify that the "Submit Key" button has some margin, and that the contributor key image is no longer being stretched.

[2015-03-26 18:59] jaypoulz commented on #1962
TESTERS: Verify that the "Edit | Delete" stay together in the projects media box when you minimize the browser.

[2015-03-27 00:19] kcarcia commented on #1563
TESTERS: Do your best to break this! Add pictures to a data set with a location and verify that picture shows up on the map at that location. Also verify you are viewing that data with data that does not contain pictures and preferably has other location area to catch any issue similar to Mike's migrating goats.

[2015-03-27 06:31] jaypoulz commented on #1988
TESTERS: You can go ahead and ignore this issue. @tylerpuleo Would you mind trying out a few of your JS requests against the API and verifying this?

[2015-03-27 06:33] jaypoulz commented on #1987
TESTERS: There is a lot of new documentation here. If you work a lot with the API, I'd appreciate it if you could glance over the documentation and try to find typographical errors or inconsistencies. If we find any, we'll follow this up with a cleanup patch.

[2015-03-27 06:38] jaypoulz commented on #2006
TESTERS: Once again, only check this out if you are working on/with the API. Please be on the lookout for any spelling mistakes or inconsistencies.

[2015-03-27 11:27] tylerpuleo commented on #1988
Absolutely

On Fri, Mar 27, 2015, 2:31 AM Jeremy Poulin <notifications@github.com>
wrote:

[2015-03-27 14:39] jaypoulz commented on #2003
TESTERS: Try to reproduce this - hiding and unhiding should be instantaneous.

[2015-03-27 15:53] stowellm opened #2082 "Hitting enter on manual entry form adds a number instead of saving the form"
**General description:** As the title says.  Go add some fields to a project, then hit enter.  It adds a number instead of "Save & Return."

**live/dev/localhost:** dev
**iSENSE Version:** 6.5-80
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Ubuntu 14.04 LTS
**Browser/Version:** Chrome 40

**Steps to Reproduce:** Description.

**Associated Image(s):**

[2015-03-27 16:25] tylerpuleo commented on #1988
Bug no longer a bug

[2015-03-27 16:44] stowellm commented on #2006
The build thingy in the top right run off the page.  Can it just be pushed left like 20px?

![build_thing](https://cloud.githubusercontent.com/assets/1039162/6872276/9a08eb06-d47e-11e4-9656-ace290263874.png)

[2015-03-27 16:45] bdonald25 opened #2083 "News console error"
**General description:** While on the news page. Console gives an error telling me my chrome extension is invalid.

**live/dev/localhost:** live
**iSENSE Version:** v6.5
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 41.0.2272.104

**Steps to Reproduce:** News Page.

10

[2015-03-27 16:46] bdonald25 opened #2084 "Tutorial console error"
**General description:** On any tutorial page. I get an error in the console "Uncaught TypeError: undefined is not a function"

**live/dev/localhost:** live
**iSENSE Version:** v6.5
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 41.0.2272.104

**Steps to Reproduce:** Any of the tutorial pages.

10

[2015-03-27 16:53] stowellm commented on #1962
Looks good for media... but now it's not consistent with data sets.

![hooplah](https://cloud.githubusercontent.com/assets/1039162/6872529/456111da-d480-11e4-84c0-58b058174dbc.png)

[2015-03-27 17:01] stowellm commented on #2071
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:02] stowellm commented on #2071
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:02] stowellm commented on #2071
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:02] stowellm commented on #2071
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:03] stowellm commented on #2071
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:05] stowellm commented on #2071
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:07] stowellm commented on #2071
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:08] stowellm commented on #2066
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:08] stowellm commented on #2062
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:14] bdonald25 commented on #2071
PASSED testing on Chrome 41.0.2272.104 (mac).

[2015-03-27 17:16] stowellm commented on #2071
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:17] stowellm commented on #2071
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:19] stowellm commented on #2061
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:19] stowellm commented on #2062
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:19] stowellm commented on #2066
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:19] stowellm commented on #2071
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:19] stowellm commented on #2006
FAILED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).
`Example (HTML) **originial** code by Scott Cytacki`

Again, still worth pulling.  Make a new issue for this though.

[2015-03-27 17:19] stowellm commented on #2035
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:19] stowellm commented on #2045
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:19] stowellm commented on #2059
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:19] stowellm commented on #1563
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:19] stowellm commented on #2003
PASSED testing on Chrome 41.0.2272.101 (Ubuntu 14.04 LTS).

[2015-03-27 17:22] JKinsman commented on #2059
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-27 17:22] JKinsman commented on #2061
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-27 17:22] JKinsman commented on #2062
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-27 17:22] JKinsman commented on #2066
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-27 17:22] JKinsman commented on #2071
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-27 17:22] JKinsman commented on #1962
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-27 17:22] JKinsman commented on #1987
FAILED testing on Safari 8.0.3 (Mac OSX 10.10.2).
Documentation looks good, although the information that appears when an API call is clicked overflows the main page.

[2015-03-27 17:22] JKinsman commented on #2003
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-27 17:22] JKinsman commented on #2035
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-27 17:22] JKinsman commented on #1563
PASSED testing on Safari 8.0.3 (Mac OSX 10.10.2).

[2015-03-27 17:26] bdonald25 commented on #2071
PASSED testing on Chrome 41.0.2272.104 (mac).

[2015-03-27 17:47] stowellm opened #2085 "API Styles and Copyedits V2"
**General description:**
- "Example (HTML) **originial** code by Scott Cytacki"
- Documentation looks good, although the information that appears when an API call is clicked overflows the main page.

**live/dev/localhost:** dev
**iSENSE Version:** v6.5-80-ge79ccd5
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** Ubuntu 14.04 LTS
**Browser/Version:** Chrome 40

**Steps to Reproduce:**

**As

[2015-03-27 18:15] jdaigneau commented on #2066
PASSED testing on Chrome 41.0.2272.89 (mac).

[2015-03-27 18:15] jdaigneau commented on #2066
PASSED testing on Chrome 41.0.2272.89 (mac).

[2015-03-27 18:50] #2071 closed

[2015-03-27 18:50] #2066 closed

[2015-03-27 18:50] #2062 closed

[2015-03-27 18:50] #2061 closed

[2015-03-27 18:51] #2059 closed

[2015-03-27 18:51] #2045 closed

[2015-03-27 18:51] #2035 closed

[2015-03-27 18:51] #2006 closed

[2015-03-27 18:51] #2003 closed

[2015-03-27 18:51] #1988 closed

[2015-03-27 18:51] #1987 closed

[2015-03-27 18:51] #1962 closed

[2015-03-27 18:51] #1563 closed

[2015-03-30 12:52] stowellm opened #2086 "Edit | Delete Inconsistent between data sets and media"
**General description:** There's no pipe between Edit and Delete for data sets.  Also the Edit Delete for data sets doesn't fit #1962

**live/dev/localhost:** dev
**iSENSE Version:** v6.5-80
**Logged in (Y or N):** N
**Admin (Y or N):** N

**OS:** Ubuntu LTS 14.04
**Browser/Version:** Chrome 41

**Steps to Reproduce:**

**Associated Image(s):**
![thing](https://cloud.githubusercontent.com/assets/1

[2015-03-31 16:21] stowellm opened #2088 "Group by contributors in vis"
**General description:** There should be an option to group by contributors in a vis.  For example, if 5 users under contributor key "A", 7 users under contributor key "B", user "Little Timmy," and user "Little Billy" contribute data sets, the vis should have a group-by option for contributors that would list "Key: A, Key: B, User: Little Timmy, User: Little Billy."

**live/dev/localhost:** dev
**

[2015-04-01 14:18] kcarcia commented on #2086
TESTERS: Please verify the edit | delete controls for data sets matches the edit | delete controls in the media box. The controls should also be consistent responsively.

[2015-04-01 21:49] kcarcia commented on #2082
TESTERS: Hitting enter on the fields page should save the form.

[2015-04-02 16:49] kcarcia opened #2094 "Improved iSENSE Footer"
**General description:** iSENSE footer facelift!

**live/dev/localhost:** live
**iSENSE Version:** v6.6
**Logged in (Y or N):** Y
**Admin (Y or N):** N

**OS:** Macintosh
**Browser/Version:** Chrome 41.0.2272.104

**Steps to Reproduce:**

1